<ng-template #template>
  <div class="modal-content">
    <div class="modal-header">
      <h4 *ngIf="!editProduct" class="modal-title pull-left left">Add Product</h4>
      <h4 *ngIf="editProduct && !viewOnly" class="modal-title pull-left left">Edit Product</h4>
      <h4 *ngIf="editProduct && viewOnly" class="modal-title pull-left left">Product</h4>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModel()">
        <span aria-hidden="true"> ×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="myform" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Brand Name<span class='required'>*</span></label>
              <input class="form-control" type="text" name="brand_name" formControlName="brand_name"
                placeholder="Brand Name" required>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Description</label>
              <input class="form-control" type="text" name="description" formControlName="description"
                placeholder="Description">
            </div>
          </div>
        </div>
        <div *ngIf='!viewOnly' class="form-buttons-w" style="text-align: right;padding-right: 20px;">
          <button class="btn btn-success" [disabled]="!myform.valid">
            {{editProduct?'Update':'Submit'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>