<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mt-5">
      <!-- <h2 class="text-center text-dark mb-4">We Care Support</h2> -->
      <div class="row">
        <div class="col-md-6 mx-auto">
          <span class="anchor" id="forgetPassword"></span>
          <div class="card border border-info forWidth">
            <div class="card-header bg-info text-white">
              <h3 class="mb-0">
                <img style="width:185px;height:45px;" src="../../../../assets/images/logo.png">
              </h3>
            </div>
            <div class="card-body">
              <form class="form" role="form" autocomplete="off" id="formLogin" [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                  <label for="uname">Email</label>
                  <input id="uname" type="text" class="form-control form-control-lg rounded-0" required=""
                    placeholder="test@example.com" formControlName="username" required>
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input id="password" type="password" class="form-control form-control-lg rounded-0"
                    placeholder="******" formControlName="password" required autocomplete="new-password">
                </div>

                <button [disabled]="form.invalid || form.disabled" type="submit"
                  class=" login-btn btn btn-info rounded-0 btn-lg btn-block mt-5 mb-3">
                  <i [hidden]="!_pending" class='fa fa-circle-o-notch fa-spin'></i>
                  Login
                </button>
                <div class="row mb-2 mt-4">
                  <small class="col text-center">
                    <a routerLink='/auth/forget-password' class="text"> Forgot password/Set password?</a>
                  </small>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>