:host {
  display: block;

  .card {
    box-shadow: 0 0 50px -10px #aaa;
  }
}

.login-btn {
  color: #fbf8f8;
  background-color: #ed2124;
  border-color: #ed2124;
}

.text {
  color: #0008ff
}
@media (min-width:1023px) {
  .forWidth {
    left: 18%!important;
  }
}