<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="content-i">
  <div class="content-box">
    <br>
    <div class="c-header row" style="display: block;margin-right: 0;">Brands List
      <div class="search-cont">
        <input type="text" [(ngModel)]="search" #searchinput class="form-control" placeholder="Search By Brand Name"
          (keyup)="searchProduct()">
        <span>
          <button class="btn btn-danger" (click)="DeleteRecords(deleteMulti)" *ngIf='this.selectedIds.length>0'>
            Delete
            ({{this.selectedIds.length}})</button>
          <button class="btn btn-primary-red" style="margin-right: 0;" type="submit" (click)="openModal(category,'null','Add')">Add
            Brand</button>
        </span>
      </div>
    </div>
    <div class="scrollmenu table-responsive">
      <table class="table table-bordered  table-v2 table-striped">
        <thead>
          <tr>
            <th class='center' style="width: 4%;"><input type="checkbox" name="vehicle1" value="Bike"
                [ngModel]='isSelectAll' (change)="selectAllRecord()">
            </th>
            <th style="width: 15%;">Brand</th>
            <th>Description</th>
            <th>Category</th>
            <th class='action' style="width: 10%;">Action</th>
          </tr>
        </thead>
        <tbody style="font-weight: normal;">
          <ng-container *ngIf="records?.length && !loader">
            <tr *ngFor="let record of records;index as i">
              <td class='center'><input type="checkbox" [ngModel]='record?.isSelect' (change)='selectRecord(i)' />
              </td>
              <td style="width: 12%!important;">
                {{record?.brand_name}}
              </td>
              <td>
                <div class=scrollable>
                  {{record?.description}}</div>
              </td>
              <td style="width: 18%!important;text-align: center;">
                <span *ngFor="let category of record.categoryDetails;index as ij">
                  <span *ngIf="ij > 0">,</span>{{category?.category?.category_name}}
                </span>
              </td>
              <td style="text-align: center;">
                <a style="margin-right: 5%;" (click)="openModal(category,i,'Open')" data-toggle="tooltip"
                  data-placement="left" title="View brand">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a style="margin-right: 5%;" (click)="openModal(category,i,'Edit')" data-toggle="tooltip"
                  data-placement="left" title="Edit brand">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a style="margin-right: 5%;" (click)="DeleteRecord(delete,i,record._id)" data-toggle="tooltip"
                  data-placement="left" title="Delete brand">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="!records?.length && !loader">
            <td colspan="12" class="text-center">
              <a class="text-primary">
                <strong>No Brand</strong>
              </a>
            </td>
          </tr>
          <tr *ngIf="this.remainingRecords>0 && !loader">
            <td colspan="12" class="text-center">
              <button class="btn-red btn btn-success" (click)="loadMore()">Load More ({{remainingRecords}})
              </button>
            </td>
          </tr>
          <tr *ngIf="loader">
            <td colspan="12" class="text-center">
              <div class="lds-dual-ring"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- for delete single  -->
    <ng-template #delete>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirmToDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modalRef3.hide()">No</button>
      </div>
    </ng-template>
    <!-- for delete Multiple  -->
    <ng-template #deleteMulti>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirmToMultiDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modalRef4.hide()">No</button>
      </div>
    </ng-template>
    <div class="div ">
      <div *ngIf="openAddProduct">
        <app-manage-category [childMessage]="parentmessage " (messageEvent)="receiveMessage($event) ">
        </app-manage-category>
      </div>
    </div>
  </div>
</div>
<!-- for add/edit modal -->
<ng-template #category>
  <div class="modal-header">
    <div class="col-md-10">
      <h4 id="category" class="modal-title pull-left">{{editCategory}} Brand</h4>
    </div>
    <button id="close-wrap" type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <div class="row" [disabled]="viewOnly">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="">Brand <span class='required'>*</span></label>
            <input class="form-control" type="text"
              [ngClass]="{ 'is-invalid': submitted && f.brand_name.errors, 'disInput': viewOnly}" name="brand_name"
              formControlName="brand_name" placeholder="Brand Name" required>
            <div *ngIf="submitted && f.brand_name.errors" class="invalid-feedback">
              <div *ngIf="f.brand_name.errors.required">Brand is Required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12" [ngClass]="{'disInput': viewOnly}">
          <label for="">Category Name<span class='required'>*</span></label>
          <angular2-multiselect [data]="dropdownList" formControlName="category" name="category"
            [(ngModel)]="selectedItems" [settings]="dropdownSettings">
          </angular2-multiselect>
          <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
            <div *ngIf="f.category.errors.required">Category is Required</div>
          </div><br>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="">Description<span class='required'>*</span></label>
            <textarea class="form-control description" type="text"
              [ngClass]="{ 'is-invalid': submitted && f.description.errors, 'disInput': viewOnly}" name="description"
              formControlName="description" placeholder="Brand description" required></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">Description is Required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="justify-content: center;">
        <div class="col-md-6">
          <div class="form-group">
            <div *ngIf='!viewOnly' class="fileContainer sprite">
              <a (click)="compressFile('url')" class="btn fileContainer sprite choose-file">Choose
                Image</a>
            </div>
            <div *ngIf='viewOnly' class="fileContainer sprite">
              <a class="btn fileContainer sprite choose-file">
                Image</a>
            </div>
            <button aria-label="Close" *ngIf="url && !viewOnly" class="close" data-dismiss="modal" type="button"
              (click)='imageDelete("image1")'>
              <span aria-hidden="true"> ×</span>
            </button>
            <div class="logoContainer">
              <img class="uploadImage" onerror="this.src='../../../../assets/images/Noimage.jpeg';"
                alt="Product Image 1" src={{url}} />
            </div>
          </div>
          <span *ngIf="errorImageSize1" class="image-error">Plesae Upload Image size lesser than 1 MB</span>
        </div>
      </div>
      <!-- <div class="modal-footer"> -->
      <div class="form-buttons-w" style="text-align: right;padding-right: 20px;">
        <button class="btn btn-success btn-cons business-publish-btn" [ngClass]="{ 'view': viewOnly}" type="submit">
          {{editCategory==='Edit'?'Update':'Submit'}}</button>
      </div>
      <!-- </div> -->
    </form>
  </div>
  <div *ngIf="openImagePreview">
    <app-image-preview [childMessage]="imageData" (messageEvent)="closeImagePreview() ">
    </app-image-preview>
  </div>

</ng-template>