.center{
    text-align: center;
  }
  .btn-green {
    color: #fff;
    background-color: #069627;
    border-color: #069627;
  }
  .btn-red{
    background-color: red;
    border-color: red;
  }
  .invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e65252;
  }
  .selected-list .c-btn {
    width: 102%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    position: relative;
  }
  
  .description {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 129px;
  }
  .view {
  display: none;
  }
  .disInput {
    pointer-events: none;
  }
  .scrollable {
    // width: 100%;
     height: 30px;
     margin: 0;
     padding: 0;
     overflow: auto;
 }
.forCat {
 border-color:#e65252;
}
 ///////////////////// file upload ////////////////////
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.logoContainer {
  width: 100%;
  height: 150px;
  margin: 15px auto 15px auto;
  /*background: url(http://img1.wikia.nocookie.net/__cb20130901213905/battlebears/images/9/98/Team-icon-placeholder.png) no-repeat 0 0;*/
  padding: 11px 10px 90px;
  text-align: center;
  line-height: 120px;
}

.uploadImage {
  max-width: 350px;
  max-height: 150px;
}

.fileContainer {
  height: 31px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  line-height: 31px;
  color: #ffffff;
  padding: 0px 0px;
  margin: 0 auto 0px auto;
  cursor: pointer !important;
}

.fileContainer span {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  background: #ed2124;
width: 65%;
padding: 0px 0px 0 10px;
    margin: 0 auto;
    text-align: center;
}

.fileContainer input[type="file"] {
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
}

.image-error {
  font-size: 80%;
  color: #e65252
}

///////////////////// file upload ////////////////////