<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mt-5">
      <!-- <h2 class="text-center text-dark mb-4">We Care Support</h2> -->
      <div class="row">
        <div class="col-md-6 mx-auto">
          <span class="anchor" id="formLogin"></span>
          <!-- form card login -->
          <div class="card border border-info">
            <div class="card-header bg-info text-white">
              <h3 class="mb-0">
                <img style="width:185px;height:45px;"src="../../../../assets/images/logo.png">
              </h3>
            </div>
            <div class="card-body">
              <form class="form" role="form" autocomplete="off" id="formLogin" [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input id="password" type="password" class="form-control form-control-lg rounded-0" required="" placeholder="******" formControlName="password"
                    required>
                </div>
                <div class="form-group">
                  <label for="confirm_password">Confirm Password</label>
                  <input id="confirm_password" type="password" class="form-control form-control-lg rounded-0" required="" placeholder="******" formControlName="confirm_password"
                    required>
                </div>
                <ul *ngFor="let err of errors;">
                  <li class='error-message'>{{err}}</li>
                </ul>
                <button [disabled]="form.invalid || form.disabled" type="submit" class=" btn btn-lg btn-primary-red">
                  Change
                </button>
                <!-- <div class="row mb-2 mt-4">
                  <small class="col text-center">
                    Go to
                    <a routerLink='/auth/login' class="text-info">Login</a> page
                  </small>
                </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
