/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width:100% ;
  }
  a {
    text-decoration: none;  
  }
  .heading {
  text-align: center;
  margin-top: 2%;
  }
  .scrum {
  color: red;
  }
  .loginForm { 
    display: flex;
    justify-content: center; 
    margin:3% 0% 0% 0%; 
  }
  .receiverForm {
    border: 0px gray solid; 
  padding: 0%;  
  margin: 0%;
  box-shadow: 2% 2% 2%; 
  }
  .loginForm {
  border: 0px gray solid; 
  padding: 0%;  
  margin: 0%;
  box-shadow: 2% 2% 2%; 
  }
  .registration {
    text-align: left;
  }
  .list {
    text-align: right
  }
  #collapsibleNavbar {
    display: flex;
    justify-content:flex-end;
  }
  button {
    margin-right: 10px;
  }
  .agodate {
    float: right;
  }
  .card1 {
    margin: 2%;
    opacity: 0.7;
  filter: alpha(opacity=50);
   
  }
  .card1:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
  }
  .card1:active {
    opacity: 1.0;
    filter: alpha(opacity=100);
  }
  .carddiv {
    width: 100%;
    justify-content: center;
  }
  .card-img-top {
    width: 50%;
    justify-content: center;
    margin:1% 0% 1% 20%;
  }
  textarea {
    width: 90%;
    height: 90px;
  }
  .profile {
    height: 70px;
    border-radius: 70%;
  }
  .profile1 {
    height: 140px;
    border-radius: 70%;
  }
  .feedbackdiv {
    display: flex;
  }
  .war {
    border: 1px solid red;
  }
  .suc {
    border: 1px solid green;
  }
  .empty {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin:1%;
    text-align: center;
    color: gray;
    position: fixed;
    background-image: '';
  }
  #toast-container {
    position: fixed;
    z-index: 9999;
    z-index: 999999;
}
