<div class="container-fluid">
  <!-- add navbar -->
  <app-header></app-header>
  <span class="container-fluid empty font-weight-light" id="empty"></span>
  <!-- feedback card -->
  <div class="row carddiv">
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
      <p class="loading">Loading...</p>
    </ngx-spinner>
    <div class="col-sm-12 col-md-4 col-lg-3 card1 shadow-lg p-3 mb-5 bg-white rounded" id="card"
      *ngFor="let data of userData, let i = index">
      <div class="card">
        <img class="card-img-top profile1" src="{{BASE_URL+data.profile_photo}}" width="30px" alt="Receiver's image">
        <div class="card-body">
          <h5 class="card-title">{{data.name}}</h5>
          <form>
            <textarea class="card-text" id="msg{{i}}" required></textarea>
            <input type="file" id="file{{i}}" formControlName="profile_photo" (change)=fileUpload($event.target.files) id="login"
              class="fadeIn second form-control" name="profilephoto" style="height: 58px;">
            <small id="war{{i}}" class="alert-warning"></small><br>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btn{{i}}"
              (click)="saveFeedback(i, data)">Send Feedback</button>
            <p class="card-text"><small class="text-muted">Your feedback is important!!</small></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>