<div class="container-fluid main">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../assets/image/accountlogin-icon.png" id="icon" alt="User Icon" style="
      height: 120px;
      width: 128px;
      margin-top: 14px;" />
      </div>

      <!-- Login Form -->
      <form [formGroup]='loginForm' (ngSubmit)="onSubmit()">
        <div class="form-group"
          [ngClass]="{'text-danger': loginForm.get('email_id').errors && (loginForm.get('email_id').touched || loginForm.get('email_id').dirty)}">
          <input type="email" formControlName="email_id" id="login1" class="fadeIn second form-control" name="email_id"
            placeholder="login">
          <span class="help-block"
            *ngIf="loginForm.get('email_id').errors && (loginForm.get('email_id').touched || loginForm.get('email_id').dirty)">
            <span *ngIf="loginForm.get('email_id').errors.required"><br><small>email id is required!!</small></span>
            <span
              *ngIf="loginForm.get('email_id').errors.pattern && (loginForm.get('email_id').touched || loginForm.get('email_id').dirty)"><br><small>Please
                enter
                valid email id</small></span>
          </span>
        </div>
        <div class="form-group"
          [ngClass]="{'text-danger': loginForm.get('password').errors && (loginForm.get('password').touched || loginForm.get('password').dirty)}">
          <input type="password" formControlName="password" id="login" class="fadeIn second form-control"
            name="password" placeholder="password" autocomplete="off">
          <span class="help-block"
            *ngIf="loginForm.get('password').errors && (loginForm.get('password').touched || loginForm.get('password').dirty)">
            <span *ngIf="loginForm.get('password').errors.required"><br> <small>password is required!!</small> </span>
            <span
              *ngIf="loginForm.get('password').errors.pattern && (loginForm.get('password').touched || loginForm.get('password').dirty)"><br>
              <small> Password must be between 4 and 16 digits long and include at least one numeric
                digit</small></span>
          </span>
        </div>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink='/forgot'>Forgot Password?</a>
        <a class="underlineHover" routerLink='/registration'>Sign up</a>
        <button style="border: none; color: #56b9ec;" (click)="signInWithFB()">FaceBook Login!!!</button>
        <button style="border: none; color: #56b9ec;" (click)="signInWithGoogle()">Google login!!!</button>
        <!-- <button (click)="signOut()">Logout</button> -->
      </div>

    </div>
  </div>
</div>