<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="content-i">
  <div class="content-box">
    <br>
    <div class="c-header row" style="display: block;margin-right: 0;">Deals List
      <div class="search-cont">
        <input type="text" [(ngModel)]="search" #searchinput class="form-control" placeholder="Search by Deal Name"
          (keyup)="searchProduct()">
        <span>
          <button class="btn btn-danger" (click)="DeleteRecords(deleteMulti)" *ngIf='this.selectedIds.length>0'>
            Delete
            ({{this.selectedIds.length}})</button>
          <button class="btn btn-primary-red" type="submit" style="margin-right: 0;" (click)="openModal(deal,'null','Add')">Add
            Deal</button>
        </span>
      </div>
    </div>
    <div class="scrollmenu table-responsive">
      <table class="table table-bordered  table-v2 table-striped">
        <thead>
          <tr>
            <th class='center' style="width: 4%;"><input type="checkbox" name="vehicle1" value="Bike"
                [ngModel]='isSelectAll' (change)="selectAllRecord()">
            </th>
            <th style="width: 13%!important;">Deal Name</th>
            <th>Offer %</th>
            <th>Brand Name</th>
            <th>Actual Cost in AED</th>
            <th>Offer Cost in AED</th>
            <th>Actual Cost in USD</th>
            <th>Offer Cost in USD</th>
            <th style="width: 12%;">Start Date</th>
            <th style="width: 12%;">End Date</th>
            <th class='action' style="width: 8%;">Action</th>
          </tr>
        </thead>
        <tbody style="font-weight: normal;">
          <ng-container *ngIf="records?.length && !loader">
            <tr *ngFor="let record of records;index as i">
              <td class='center'><input type="checkbox" [ngModel]='record?.isSelect' (change)='selectRecord(i)' />
              </td>
              <td>
                {{record?.deal_name}}
              </td>
              <td>
                {{record?.deal_percentage}}
              </td>
              <td>
                {{record.brands[0]?.brand_name}}
              </td>
              <td style="text-align: right;">
                {{record?.actual_price_aed | currency:'&nbsp;':true:'1.2-2'}}
              </td>
              <td style="text-align: right;">
                {{record?.offer_price_aed | currency:'&nbsp;':true:'1.2-2'}}
              </td>
              <td style="text-align: right;">
                {{record?.actual_price_usd | currency:'&nbsp;':true:'1.2-2'}}
              </td>
              <td style="text-align: right;">
                {{record?.offer_price_usd | currency:'&nbsp;':true:'1.2-2'}}
              </td>
              <td style="text-align: center;">
                {{record?.deal_start_date  | medium_date}}
              </td>
              <td style="text-align: center;">
                {{record?.deal_end_date  | medium_date}}
              </td>
              <td style="text-align: center;">
                <a style="margin-right: 5%;" (click)="openModal(deal,i,'Open')" data-toggle="tooltip"
                  data-placement="left" title="View Deal">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a style="margin-right: 5%;" (click)="openModal(deal,i,'Edit')" data-toggle="tooltip"
                  data-placement="left" title="Edit deal">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="!records?.length && !loader">
            <td colspan="12" class="text-center">
              <a class="text-primary">
                <strong>No Deal</strong>
              </a>
            </td>
          </tr>
          <tr *ngIf="this.remainingRecords>0 && !loader">
            <td colspan="12" class="text-center">
              <button class="btn-red btn btn-success" (click)="loadMore()">Load More ({{remainingRecords}})
              </button>
            </td>
          </tr>
          <tr *ngIf="loader">
            <td colspan="12" class="text-center">
              <div class="lds-dual-ring"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- for delete single  -->
    <ng-template #delete>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirmToDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modalRef3.hide()">No</button>
      </div>
    </ng-template>
    <!-- for delete Multiple  -->
    <ng-template #deleteMulti>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirmToMultiDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modalRef4.hide()">No</button>
      </div>
    </ng-template>
    <div class="div ">
    </div>
  </div>
</div>
<!-- for add/edit modal -->
<ng-template #deal>
  <div class="modal-header">
    <div class="col-md-10">
      <h4 id="deal" class="modal-title pull-left">{{editDeals}} Deal</h4>
    </div>
    <button id="close-wrap" type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="dealForm" (ngSubmit)="onSubmit()">
      <div class="row" [disabled]="viewOnly">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Deal Name <span class='required'>*</span></label>
            <input class="form-control" type="text" pattern=""
              [ngClass]="{ 'is-invalid': submitted && f.deal_name.errors, 'disInput': viewOnly}" name="deal_name"
              formControlName="deal_name" placeholder="Deal Name" required>
            <div *ngIf="submitted && f.deal_name.errors" class="invalid-feedback">
              <div *ngIf="f.deal_name.errors.required">Deal Name is Required</div>
              <!-- <div [hidden]="!f.deal_name.errors?.pattern">Email is Invalid</div> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Offer Percentage <span class='required'>*</span></label>
            <input class="form-control" type="number" id="offerPer"
              [ngClass]="{ 'is-invalid': submitted && f.deal_percentage.errors, 'disInput': viewOnly}"
              pattern="^((?!(0))[0-9]{1,2})$" name="deal_percentage" formControlName="deal_percentage"
              (input)="offerCal()" (focusout)="offerCal()" placeholder="Offer Percentage %">
            <div *ngIf="submitted && f.deal_percentage.errors" class="invalid-feedback">
              <div *ngIf="f.deal_percentage.errors.required">Offer Percentage is Required</div>
              <div [hidden]="!f.deal_percentage.errors?.pattern">Offer Percentage is Invalid(must have between 0-99)
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12"><label for="">Brand Name<span class='required'>*</span></label>
          <div class="form-group input-group">
            <input class="form-control" type="text" autocomplete="off" id="suggestName"
              [ngClass]="{ 'red': submitted && f.product_name.errors, 'disInput': viewOnly}" name="product_name"
              formControlName="product_name" placeholder="Brand Name" (click)="suggest()" (focusout)="onChange()"
              (input)="suggest()" required>
            <div
              [ngClass]="{ 'red1': submitted && f.product_name.errors, 'disInput': viewOnly, 'input-group-append': true}">
              <button [ngClass]="{ 'forX': viewOnly}" (click)="forclear()" class="btn btn-light clearbtn"
                type="button">X</button>
            </div>
            <div *ngIf="submitted && f.product_name.errors" class="invalid-feedback">
              <div *ngIf="f.product_name.errors.required">Brand Name is Required</div>
              <div *ngIf="f.product_name.errors.notFound">Please select valid brand name</div>
            </div>
            <div class="suggestions" *ngIf="suggestions.length"
              [ngClass]="{'disInput': viewOnly, 'forDispale': namelist}">
              <ul *ngFor="let s of suggestions,index as i" class="list-group">
                <li (click)="SelectName(s)" class="list-group-item list-group-item-action">{{s.brand.brand_name}}
                  ({{s.product_code}})</li>
              </ul>
              <!-- <p *ngFor="let s of suggestions,index as i"><a href="" class="badge badge-light">{{s.product_name}}</a></p> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Start Date <span class='required'>*</span></label>
            <input type="text" placeholder="dd/mm/yyyy" name="deal_start_date" (input)="forEndDate()"
              (focusout)="forEndDate()" class="form-control" [(bsValue)]="startDate"
              value="{{ startDate | date:'dd-MM-yyyy' }}"
              [ngClass]="{ 'is-invalid': submitted && f.deal_start_date.errors, 'disInput': viewOnly}"
              [minDate]="minDate1" ngDefaultControl bsDatepicker formControlName="deal_start_date" [bsConfig]="bsConfig"
              #dp="bsDatepicker" [(ngModel)]="startDate" readonly>
            <div *ngIf="submitted && f.deal_start_date.errors" class="invalid-feedback">
              <div *ngIf="f.deal_start_date.errors.required">Required</div>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">End Date <span class='required'>*</span></label>
            <input type="text" placeholder="dd/mm/yyyy" name="deal_end_date" class="form-control custom-date"
              (input)="forEndDate()" (focusout)="forEndDate()" [(bsValue)]="endDate"
              value="{{ endDate | date:'dd-MM-yyyy' }}"
              [ngClass]="{ 'is-invalid': submitted && f.deal_end_date.errors, 'disInput': viewOnly}"
              [minDate]="minDate2" bsDatepicker formControlName="deal_end_date" [bsConfig]="bsConfig" #dp="bsDatepicker"
              [(ngModel)]="endDate" ngDefaultControl readonly>
            <div *ngIf="submitted && f.deal_end_date.errors" class="invalid-feedback">
              <div *ngIf="f.deal_end_date.errors.required">Required</div>
              <div *ngIf="f.deal_end_date.errors.startdate">End date should not be less then start date</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Actual Cost in AED <span class='required'>*</span></label>
            <input class="form-control" type="number" id="actualAED"
              [ngClass]="{ 'is-invalid': submitted && f.actual_price_aed.errors}" name="actual_price_aed"
              formControlName="actual_price_aed" placeholder="Actual Cost in AED" disabled>
            <div *ngIf="submitted && f.actual_price_aed.errors" class="invalid-feedback">
              <div *ngIf="f.actual_price_aed.errors.required">Required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Offer Cost in AED <span class='required'>*</span></label>
            <input class="form-control" type="number" id="offerAED"
              [ngClass]="{ 'is-invalid': submitted && f.offer_price_aed.errors}" name="offer_price_aed"
              formControlName="offer_price_aed" placeholder="Offer Cost in AED" disabled>
            <div *ngIf="submitted && f.offer_price_aed.errors" class="invalid-feedback">
              <div *ngIf="f.offer_price_aed.errors.required">Required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Actual cost in USD <span class='required'>*</span></label>
            <input class="form-control" type="number" id="actualUSD"
              [ngClass]="{ 'is-invalid': submitted && f.actual_price_usd.errors}" name="actual_price_usd"
              formControlName="actual_price_usd" placeholder="Actual cost in USD" disabled>
            <div *ngIf="submitted && f.actual_price_usd.errors" class="invalid-feedback">
              <div *ngIf="f.actual_price_usd.errors.required">Required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Offer cost in USD <span class='required'>*</span></label>
            <input class="form-control" type="number" id="offerUSD"
              [ngClass]="{ 'is-invalid': submitted && f.offer_price_usd.errors}" name="offer_price_usd"
              formControlName="offer_price_usd" placeholder="Offer cost in USD" disabled>
            <div *ngIf="submitted && f.offer_price_usd.errors" class="invalid-feedback">
              <div *ngIf="f.offer_price_usd.errors.required">Required</div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer"> -->
      <div class="form-buttons-w" style="text-align: right;padding-right: 20px;">
        <button class="btn btn-success btn-cons business-publish-btn" [ngClass]="{ 'view': viewOnly}" type="submit">
          {{editDeals==='Edit'?'Update':'Submit'}}</button>
      </div>
      <!-- </div> -->
    </form>
  </div>

</ng-template>