.center{
    text-align: center;
  }
  .btn-green {
    color: #fff;
    background-color: #069627;
    border-color: #069627;
  }
  .btn-red{
    background-color: red;
    border-color: red;
  }
  .invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e65252;
  }
  .selected-list .c-btn {
    width: 102%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    position: relative;
  }
  
  .description {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 129px;
  }
  .view {
  display: none;
  }
  .disInput {
    pointer-events: none;
  }

//   testing
.suggestions {
  border: 2px solid #dde2ec;
  border-radius: 4px;
  max-height: 180px;
  overflow: auto;
  z-index: 99;
  background-color: #ffffff;
  width: 96%;
  position: absolute;
  border-top: none;
  top:100%
}
.forDispale {
display: none;
}
.bs-datepicker-container{
  position:absolute;
  top: 151px!important;
}
.clearbtn{
  border: 2px solid #dde2ec;
  border-radius: 4px;
  border-left: none;
}
.red{
  border: 2px red solid;
}
.red1{
  border: 2px red solid;
  border-left: none;
  .btn{
  color: red;
}
}
.forX {
  display: none;
}
