<ng-template #template>
  <div class="modal-content">
    <div class="modal-header faded smaller">
      <div>Product</div>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModel()">
        <span aria-hidden="true"> ×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="content-i">
        <div class="content-box">
          <div class="controls-above-table">
            <button class="btn btn-sm btn-green" [disabled]='selectedIds.length===0'(click)="generatePDF()">Generate PDF <span *ngIf='selectedIds.length'>({{selectedIds.length}})</span></button>
          </div>
          <div class="full-block">
            <div class="head">
              <div class='row' style='margin-left: -8px;'>
                <div class='col-12'>
                  <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                  </angular2-multiselect><br>
                </div>
              </div>
            </div>
            <div class="scrollmenu table-responsive">
              <table class="table table-bordered  table-v2 table-striped">
                <thead>
                  <tr>
                    <th *ngIf="records?.length && !loader"><input type="checkbox" name="vehicle1" value="Bike"
                        [ngModel]='isSelectAll' (change)="selectAllRecord()">
                    </th>
                    <th>Name</th>
                    <th>code</th>
                    <th>Brand Name</th>
                    <th>Product Type</th>
                    <th>Expiry Date</th>
                    <th *ngIf="records?.length && !loader"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="records?.length && !loader">
                    <tr *ngFor="let record of records;index as i">
                      <td class='center'><input type="checkbox" [ngModel]='record?.isSelect'
                          (change)='selectRecord(i)' />
                      </td>
                      <td>
                        {{record?.product_name}}
                      </td>
                      <td>
                        {{record?.product_code}}
                      </td>
                      <td>
                        {{record?.brand_name}}
                      </td>
                      <td>
                        {{record?.product_type}}
                      </td>
                      <td>
                        {{record?.expiry_date | medium_date}}
                      </td>
                      <td style='width: 72px !important;'>
                        <a (click)="openEditProduct(record,true)">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a (click)="openEditProduct(record,false)">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        <a (click)="DeleteRecord(delete,i,record._id)">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="this.remainingRecords>0">
                      <td colspan="12" class="text-center">
                        <button class="btn btn-success"  (click)="loadMore()">Load More ({{remainingRecords}})
                          </button>
                      </td>
                    </tr>
                  </ng-container>
                  <tr *ngIf="!records?.length && !loader">
                    <td colspan="12" class="text-center">
                      <a class="text-primary">
                        <strong>No Product</strong>
                      </a>
                    </td>
                  </tr>
                  <tr *ngIf="loader">
                    <td colspan="12" class="text-center">
                      <div class="lds-dual-ring"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
