<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="content-i">
  <div class="content-box">
    <div class='c-header' style="width:100%">FMCG Users List

      <span style="margin-left: 49%;">
        <img class='logo-size' src="../../../../assets/images/excel_download.svg" (click)="generateExcel()">
      </span>
      <input type="text" [(ngModel)]="search" #searchinput class="form-control" placeholder="Search"
        (keyup)="searchUser()" style="border-radius: 30px !important;width: 250px;float:right;">
    </div>

    <div class="controls-above-table">
      <nav class="admin-nav">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="mainTab" [ngClass]="{ 'active':flag == 'pending' }">
            <a (click)="showpendigUsers()">Pending Requests</a>
          </li>
          <li role="presentation" class="mainTab" [ngClass]="{ 'active':flag == 'active'}">
            <a (click)="showactiveUsers()">Active Users</a>
          </li>
          <li role="presentation" class="mainTab" [ngClass]="{ 'active':flag == 'inactive' }">
            <a (click)="showInactiveUsers()">InActive Users</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="full-block" style="overflow: auto;">
      <div class="head">
        <div class="search-cont" style="margin-top: -1px;float:left;">
        </div>
        <!-- <div style="float:right;">
          <span style="float: right;" placement="top" tooltip="Reset" class="fa fa-refresh" (click)="reload()"></span>
        </div> -->
      </div>
      <br>
      <div class="scrollmenu table-responsive">
        <table class="table table-bordered  table-v2 table-striped">
          <thead>
            <tr>
              <th class='center' style="width: 5%;">#</th>
              <th style="width: 20%;">First Name</th>
              <th style="width: 20%;">Last Name</th>
              <th style="width: 30%;">Email</th>
              <th style="width: 15%;">Phone Number</th>
              <th style="width: 15%;">Landline Number</th>
              <th style="width: 15%;">city</th>
              <th style="width: 15%;">Country Name</th>
              <th style="width: 15%;">Permanent Address</th>
              <th style="width: 15%;">Shipping Address</th>
              <th style="width: 15%;">Company Name</th>
              <th style="width: 15%;" *ngIf="flag == 'pending'">Status</th>
              <th class='action' style="width: 5%;" *ngIf="flag == 'inactive' || flag == 'active'">Action</th>
              <!-- <th style="width: 5%;" *ngIf="flag === 'pending'">Approve</th>
              <th style="width: 5%;" *ngIf="flag === '!pending'">Status</th> -->
              <th style="width: 8%;"> {{flag == 'pending'? 'Action' : 'Status'}}</th>
              <!-- <th *ngIf="active">Action</th> -->
            </tr>
          </thead>
          <tbody style="font-weight: normal;">
            <ng-container *ngIf="records?.length && !loader">
              <tr *ngFor="let record of records;index as i">
                <td class='center' style='max-width:20px!important;'>
                  {{i+1}}
                </td>
                <td>
                  {{record?.first_name}}
                </td>
                <td>
                  {{record?.last_name}}
                </td>
                <td class="">
                  {{record?.email}}
                  <!-- <i style="color: green;" *ngIf="i == 1" class="fa fa-check" aria-hidden="true"></i> -->
                </td>
                <td>
                  <a href="" class="not-active">+{{record?.country_code}} - {{record?.mobile_number}}</a>
                </td>
                <td>
                  {{ record?.phone_number ? record?.phone_number : '---- ----'}}
                </td>
                <td>
                  {{record?.city}}
                </td>
                <td>
                  {{countryCode(record?.country_code)}}
                </td>
                <td>
                  <div class=scrollable>
                    {{record?.permanent_address}}</div>
                </td>
                <td>
                  <div class=scrollable>
                    {{record?.shipping_address}}</div>
                </td>
                <td>
                  {{record?.company_name}}
                </td>
                <td *ngIf="flag == 'pending'">
                  {{record?.status == 'pending'? 'Pending' : 'Rejected'}}
                </td>
                <td class='center' *ngIf="flag == 'inactive' || flag == 'active'">
                  <a style="margin-right: 9%;" (click)="openModal(UserDetails,i,'Open')" data-toggle="tooltip"
                    data-placement="left" title="View User Details">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
                  <a (click)="DeleteRecord(delete,i,record._id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                  <!-- <a>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a> -->
                </td>
                <td class='center'>
                  <!-- <button *ngIf="record?.status==='active'" class="btn-approve btn btn-sm btn-approve" (click)=" ('in_active',record._id)">Deactivate</button>
                  <button *ngIf="record?.status==='in_active'" class="btn-decline btn btn-sm btn-decline"(click)="changestatus('active',record._id)">Activate</button> -->
                  <input type="checkbox" *ngIf="flag == 'inactive' || flag == 'active'"
                    [ngModel]='record?.status==="active"' (change)='changeStatus(changeuserstatus,record,i)' />
                  <a *ngIf="flag == 'pending'" style="margin-right: 3%;"
                    (click)='changeStatus(changeuserstatus,record,i)' data-toggle="tooltip" data-placement="left"
                    title="Approve User Request">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </a>
                  <a *ngIf="record?.status == 'pending'" style="margin-right: 3%;"
                    (click)='changeStatusReject(changereject,record,i)' data-toggle="tooltip" data-placement="left"
                    title="Reject User Request">
                    <i class="fa fa-close" aria-hidden="true"></i>
                  </a>
                  <a *ngIf="flag == 'pending'" style="margin-right: 3%;" (click)="openModal(UserDetails,i,'Open')"
                    data-toggle="tooltip" data-placement="left" title="View User Details">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
                  <a *ngIf="flag == 'pending'" style="margin-right: 3%;" (click)="DeleteRecord(delete,i,record._id)"
                    data-toggle="tooltip" data-placement="left" title="Delete User Details">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>

                </td>
              </tr>
            </ng-container>
            <tr *ngIf="this.remainingRecords>0 && !loader">
              <td colspan="13" class="text-center">
                <button class="btn-red btn btn-success" (click)="loadMore()">Load More ({{remainingRecords}})
                </button>
              </td>
            </tr>
            <tr *ngIf="!records?.length && !loader">
              <td colspan="13" class="text-center">
                <a class="text-primary">
                  <strong>No {{flag}} FMCG user</strong>
                </a>
              </td>
            </tr>
            <tr *ngIf="loader">
              <td colspan="7" class="text-center">
                <div class="lds-dual-ring"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <pagination [totalItems]="count" [(ngModel)]="currentpage" (pageChanged)="pageChanged($event)"></pagination> -->

    <ng-template #delete>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirmToDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modalRef3.hide()">No</button>
      </div>
    </ng-template>

    <ng-template #changeuserstatus>
      <div class="modal-body text-center">
        <p>Are you sure you want {{status}}?</p>
        <button type="button" class="btn btn-default" (click)="confirmToChange()">Yes</button>
        <button type="button" class="btn btn-primary-red" (click)="declineToChange()">No</button>
      </div>
    </ng-template>

    <ng-template #changereject>
      <div class="modal-body text-center">
        <p>Are you sure you want {{status}}?</p>
        <button type="button" class="btn btn-default" (click)="confirmToChangereject()">Yes</button>
        <button type="button" class="btn btn-primary-red" (click)="declineToChange()">No</button>
      </div>
    </ng-template>
  </div>
</div>


<!-- for view only modal -->
<ng-template #UserDetails>
  <div class="modal-header">
    <div class="col-md-10">
      <h4 id="category" class="modal-title pull-left">FMCG User Details</h4>
    </div>
    <button id="close-wrap" type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="fmcgForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">First Name </label>
            <input class="form-control" type="text" name="first_name" placeholder="First name" required disabled
              [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Last Name </label>
            <input class="form-control" type="text" name="last_name" placeholder="Last name" required disabled
              [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-12" style="padding: 0;"><label for="">Country Code<span class='required'>*</span></label>
            <div class="form-group input-group">
              <input class="form-control" type="text" autocomplete="off" id="suggestName"
                [ngClass]="{ 'red': submitted && f.country_code.errors, 'disInput': viewOnly}" name="country_code"
                formControlName="country_code" placeholder="Country Code" (click)="suggest()" (focusout)="onChange()"
                (input)="suggest()" required>
              <div
                [ngClass]="{ 'red1': submitted && f.country_code.errors, 'disInput': viewOnly, 'input-group-append': true}">
                <button [ngClass]="{ 'forX': viewOnly}" (click)="forclear()" class="btn btn-light clearbtn"
                  type="button">X</button>
              </div>
             
              <div *ngIf="submitted && f.country_code.errors" class="invalid-feedback">
                <div *ngIf="f.country_code.errors.required">Country code is Required</div>
                <div *ngIf="f.country_code.errors.notFound">Please select valid country code</div>
              </div>
              <div class="suggestions" *ngIf="suggestions.length"
                [ngClass]="{'disInput': viewOnly, 'forDispale': namelist}">
                <ul *ngFor="let s of suggestions,index as i" class="list-group">
                  <li (click)="SelectName(s)" class="list-group-item list-group-item-action">{{s.countryCode}}
                  </li>
                </ul>
                <!-- <p *ngFor="let s of suggestions,index as i"><a href="" class="badge badge-light">{{s.country_code}}</a></p> -->
              </div>
            </div>
          </div>
          <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
        </div>

        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="">Country Code</label>
            <input class="form-control" type="number" [ngClass]="{ 'is-invalid': submitted && f.country_code.errors}"
              name="country_code" [(ngModel)]="country_code" formControlName="country_code" placeholder="Phone Number"
              required>
            <div *ngIf="submitted && f.country_code.errors" class="invalid-feedback">
              <div *ngIf="f.country_code.errors.required">Phone Number is Required</div>
            </div>
          </div>
        </div> -->
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Mobile Number <span class='required'>*</span></label>
            <!-- <input class="form-control" type="text" name="mobile_name" placeholder="Mobile name" required disabled
              [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}"> -->
            <input class="form-control" type="number" [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors}"
              name="phone_number" [(ngModel)]="phoneNumber" formControlName="phone_number" placeholder="Phone Number"
              required pattern="^[0-9]*$">
            <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
              <div *ngIf="f.phone_number.errors.required">Phone Number is Required</div>
              <div [hidden]="!f.phone_number.errors?.pattern">Phone Number is Invalid</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Landline Number </label>
            <input class="form-control" type="text" name="landline_namuber" placeholder="Landline Number" required
              disabled [(ngModel)]="landlineNumber" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">City </label>
            <input class="form-control" type="text" name="city_name" placeholder="City Name" required disabled
              [(ngModel)]="cityName" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Country </label>
            <input class="form-control" type="text" name="country_name" placeholder="Country name" required disabled
              [(ngModel)]="countryName" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Permanent Address </label>
            <textarea class="form-control" type="text" name="permanent_address" placeholder="Permanent Address" required
              disabled [(ngModel)]="perAddress" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Shipping Address </label>
            <textarea st class="form-control" type="text" name="shipping_address " placeholder="Shipping Address"
              required disabled [(ngModel)]="shippAddress" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Company Name </label>
            <input class="form-control" type="text" name="company_name" placeholder="Company Name" required disabled
              [(ngModel)]="companyName" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="">Email Id</label>
            <input class="form-control" type="text" name="email_id" placeholder="Email Id" required disabled
              [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Status </label>
            <input class="form-control" style="text-transform: capitalize" type="text" name="status"
              placeholder="user status" required disabled [(ngModel)]="pendingStatus"
              [ngModelOptions]="{standalone: true}">

          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-buttons-w" style="text-align: right;padding-right: 20px;">
            <button class="btn btn-success btn-cons business-publish-btn" type="submit">
              Update</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</ng-template>