<ng-template #template>
  <div class="modal-content">
    <div class="modal-header">
      <h4 *ngIf="!editSupplier" class="modal-title pull-left left">Add Supplier</h4>
      <h4 *ngIf="editSupplier && !viewOnly" class="modal-title pull-left left">Edit Supplier</h4>
      <h4 *ngIf="editSupplier && viewOnly" class="modal-title pull-left left">Supplier</h4>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModel()">
        <span aria-hidden="true"> ×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="myform" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Name<span class='required'>*</span></label>
              <input class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.name.errors}"
                name="name" formControlName="name" placeholder="Name" required>
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is Required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Contact Name<span class='required'>*</span></label>
              <input class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.contact_person.errors}"
                name="name" formControlName="contact_person" placeholder="Contact Name" required>
              <div *ngIf="submitted && f.contact_person.errors" class="invalid-feedback">
                <div *ngIf="f.contact_person.errors.required">Contact Name is Required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Email<span class='required'>*</span></label>
              <input class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.email.errors}"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" formControlName="email"
                placeholder="Email" required>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is Required</div>
                <div [hidden]="!f.email.errors?.pattern">Email is Invalid</div>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="">Country Code<span class='required'>*</span></label>
              <input class="form-control" type="number" [ngClass]="{ 'is-invalid': submitted && f.country_code.errors}"
                name="country_code" formControlName="country_code" placeholder="CC" required
                onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;">
              <div *ngIf="submitted && f.country_code.errors" class="invalid-feedback">
                <div *ngIf="f.country_code.errors.required">Country Code is Required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Phone<span class='required'>*</span></label>
              <input class="form-control" type="number" [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors}"
                name="phone_number" formControlName="phone_number" placeholder="Phone Number" required 
                pattern="^[0-9]*$">
              <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
                <div *ngIf="f.phone_number.errors.required">Phone Number is Required</div>
                <div [hidden]="!f.phone_number.errors?.pattern">Phone Number is Invalid</div>
              </div>
            </div>
          </div>
        </div>

        
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="">Address<span class='required'>*</span></label>
              <input class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.address.errors}"
                name="address" formControlName="address" placeholder="Address" required>
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is Required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div *ngIf='!viewOnly' class="fileContainer sprite">
                <a (click)="compressFile('business_card_image1')" class="btn fileContainer sprite choose-file">Choose
                  Image 1</a>
              </div>
              <div *ngIf='viewOnly' class="fileContainer sprite">
                <a class="btn fileContainer sprite choose-file">
                  Image 1</a>
              </div>

              <button aria-label="Close" *ngIf="businessImage1 && !viewOnly" class="close" data-dismiss="modal"
                type="button" (click)='imageDelete("image1")'>
                <span aria-hidden="true"> ×</span>
              </button>
              <!-- <span class="close" *ngIf="businessImage1" (click)='imageDelete("image1")'>
                  X
                </span> -->
              <div class="logoContainer">
                <!-- <input type="file" (change)="process($event)" accept="image/x-png,image/gif,image/jpeg"/> -->
                <img class="uploadImage" onerror="this.src='../../../../assets/images/Noimage.jpeg';"
                  alt="Business Card Image 1" src={{businessImage1}} />
              </div>
            </div>
            <span *ngIf="errorImageSize1" class="image-error">Plesae Upload Image size lesser than 1 MB</span>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div *ngIf='!viewOnly' class="fileContainer sprite">
                <!-- <span>Choose Image 2</span> -->
                <!-- <input type="file" class="form-control" name="promo_slider" id="promo_slider"
                  (change)="process($event,'business_card_image2')" accept="image/x-png,image/gif,image/jpeg"> -->
                <a (click)="compressFile('business_card_image2')" class="btn fileContainer sprite choose-file">Choose
                  Image 2</a>
                <div *ngIf='viewOnly' class="fileContainer sprite">
                  <a class="btn fileContainer sprite choose-file">
                    Image 1</a>
                </div>
                <div *ngIf="errorImageSize2">Plesae Upload Image size lesser than 1 MB</div>
              </div>
              <button aria-label="Close" *ngIf="businessImage2 && !viewOnly" class="close" data-dismiss="modal"
                type="button" (click)='imageDelete("image2")'>
                <span aria-hidden="true"> ×</span>
              </button>
              <!-- <span class="close"  *ngIf="businessImage2" (click)='imageDelete("image2")'>
                  X
                </span> -->
              <div class="logoContainer">
                <img class="uploadImage" onerror="this.src='../../../../assets/images/Noimage.jpeg';"
                  alt="Business Card Image 2" src={{businessImage2}} />
              </div>
            </div>
            <span *ngIf="errorImageSize2" class="image-error">Plesae Upload Image size lesser than 1 MB</span>
          </div>
        </div>
        <div *ngIf='!viewOnly' class="form-buttons-w" style="text-align: right;padding-right: 20px;">
          <button class="btn btn-success">
            {{editSupplier?'Update':'Submit'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>