<div class="all-wrapper with-side-panel solid-bg-all">
  <div class="layout-w">
    <div class="content-w">
      <div class="content-i">
        <div class="content-box">
          <div class="support-index">
            <div class="support-ticket-content-w ">
              <div class="support-ticket-content ">
                <div class="support-ticket-content-header ">
                  <h3 class="ticket-header" style="word-break: break-all;">
                    <div class=c-header>Supplier Details</div>
                  </h3>
                </div>
                <br>
                <div class="ticket-thread">
                  <div class="ticket-reply">
                    <!-- <div class="st-foot" style="padding: 0;">
                      <div class="st-meta">
                        <span>Supplier Code</span>
                        <div class="badge badge-success-inverted">{{supplier?.supplier_code}}</div>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="col-md-4">
                        Supplier Name
                      </div>
                      <div class="col-md-8">
                        <span class="value">: &nbsp;</span><span class="value"> {{supplier?.name}}</span>
                      </div>

                      <div class="col-md-4">
                        Contact Person
                      </div>
                      <div class="col-md-8">
                        <span class="value">: &nbsp;</span><span class="value"> {{supplier?.contact_person}}</span>
                      </div>

                      <div class="col-md-4">
                        Code </div>
                      <div class="col-md-8">
                        <span class="value">: &nbsp;</span><span class="value"> {{supplier?.supplier_code}}</span>
                      </div>

                      <div class="col-md-4">
                        Phone Number
                      </div>
                      <div class="col-md-8">
                        <span class="value">: &nbsp;</span><span class="value">
                          +{{supplier?.country_code +' '+ supplier?.phone_number}}</span>
                      </div>

                      <div class="col-md-4">
                        Email Id
                      </div>
                      <div class="col-md-8">
                        <span class="value">: &nbsp;</span><span class="value"> {{supplier?.email_id}}</span>
                      </div>

                      <div class="col-md-4">
                        Address
                      </div>
                      <div class="col-md-8">
                        <span class="value">: &nbsp;</span><span>{{supplier?.address}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <span> Business Card Image 1 </span>
                      </div>
                      <div class="col-md-12">
                        <img class="image" src={{supplier?.business_card_image_1}}
                          (click)='imagePreview(supplier?.business_card_image_1)'
                          onerror="this.src='../../../../assets/images/Noimage.jpeg';">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <span> Business Card Image 2 </span>
                      </div>
                      <div class="col-md-12">
                        <img class="image" src={{supplier?.business_card_image_2}}
                          (click)='imagePreview(supplier?.business_card_image_2)'
                          onerror="this.src='../../../../assets/images/Noimage.jpeg';">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="support-tickets">
              <div class="content_view">
                <div *ngIf="productDetails?.product.length">
                  <div class="support-ticket active" *ngFor="let product of productDetails?.product"
                    (click)="openViewProductDetails(product,true)">
                    <div class="st-meta">
                      <!-- <div class="badge badge-success-inverted">{{product?.code}}</div> -->
                      <!-- <div class="status-pill green"></div> -->
                    </div>
                    <div class="st-body">
                      <div class="ticket-content">
                        <h6 class="ticket-title">{{product?.description}}</h6>
                        <span>{{product?.product_code}} </span>
                        <div class="ticket-description">
                        </div>
                      </div>
                    </div>
                    <div class="st-foot">
                      <span class="label">Brand Name:</span><span class="value">{{product?.brand_name}}</span><span
                        class="label">Expiry Date:</span><span
                        class="value">{{product?.expiry_date |date:'mediumDate'}}</span>
                    </div>
                  </div>
                  <button class="btn btn-success" style="margin-top: 20px" *ngIf="productDetails?.totalpage != page"
                    (click)="productLoadMore()">
                    Load More </button>
                </div>
                <div class="support-ticket-content-w " style="height: 100%" *ngIf="!productDetails?.product.length">
                  <div class="support-ticket-content" style="font-size:3vw; opacity:0.5;">
                    <center> <i aria-hidden="true"></i><br>No Products</center>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div ">
  <div *ngIf="openViewProduct">
    <app-manage-product [childMessage]="parentmessage " (messageEvent)="receiveMessage($event) ">
    </app-manage-product>
  </div>
  <div *ngIf="openImagePreview">
    <app-image-preview [childMessage]="imageData" (messageEvent)="closeImagePreview() ">
    </app-image-preview>
  </div>
</div>