.text_align{
    text-align: right
}
.two-line-webkit-box {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 34px;
}
.regentry{
    padding-top: 5%;
    padding-inline-start: 30%;
    text-decoration-line: inherit;
    padding-right: 250px
    }
    .meeting-cell {
        padding: 10px;
    }
    .col-lg-3.col-sm-6.d-flex.flex-column.meeting-cell:hover{
        color: #0356ad;
        box-shadow: 2px 1px 3px 3px #311d06;
    }
    .model_btn{
        align-self: center
    }
    .update_btn{
        padding: 5px 
    }
    .delete_btn{
        padding: 5px
    }
    .modal-body.table_view{
        align-self: center
    }

    .ticket-description-small{
        color: #636c72;
        font-size: 0.81rem;
        font-weight: 400;
}

.st-user {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 220px;
    flex: 0 0 220px;
    text-align: right;
}

.st-user .avatarInfo {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    -webkit-box-shadow: 0px 0px 0px 5px #fff;
    box-shadow: 0px 0px 0px 5px #fff;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.st-user img.ownerImg {
    height: 100%;
    width: 100%;
}

.st-user .more {
    background-color: #047bf8;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: -10px;
    padding: 2px 7px;
    border-radius: 12px;
    color: #fff;
    font-size: 0.63rem;
    font-weight: 800;
    // height: 1.215rem;
    // overflow: hidden;
    padding-bottom: 1px;

}
.box{
    margin-left:75px;
   

    border-radius: 20px;
   

}
.ownerImg{
    display: inline-block;
    vertical-align: middle;
    border-radius: 14px;
    width: 25px;
    height: 23px;
    margin-right: 6px;
}
.avatarInfo{
width: 25px;
height: 25px;
border-radius: 35px;
-webkit-box-shadow: 0px 0px 0px 5px #fff;
box-shadow: 2px 3px 0px 5px #fff;
display: inline-block;
overflow: hidden;
vertical-align: middle;
}
.ticket-reply-content{
    word-break: break-all
}
.support-index .st-meta > div {
    margin-left: 30px;
}

.att-info {
    width: 40px;
    overflow: hidden;
    height: 40px;
    border-radius: 100px;
    display: inline-block;
    margin: 0 10px;
}
.att-info img {
        width: 100%;
        height: 100%;
    }

    .ticket-reply-content p {
        font-size: 16px;
        font-weight: 400;
    }
    .ticket-reply{
        font-size:100%
    }



    .chat-controls {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .chat-input {
        position: relative;
    }
    
    .chat-btn {
        position: absolute;
        right: 0;
        top: 9px;
    }
    
    .chat-input input {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
        border: none;
        padding: 6px 0;
        margin: 12px 0px;
        display: block;
        width: 90%;
        outline: none;
    }
    
    .chat-controls {
        border-bottom: 0 !important;
        padding: 0;
        margin-bottom: 10px;
    }
    // .button.fc-today-button:first-letter {
    //     text-transform: uppercase !important;
    // }
    // .button.fc-month-button:first-letter {
    //     text-transform: uppercase !important;
    // }   
    // .button.fc-agendaWeek-button:first-letter {
    //     text-transform: uppercase !important;
    // }
    // .button.fc-agendaDay-button:first-letter {
    //     text-transform: uppercase !important;
    // }
    // .button.fc-listMonth-button:first-letter {
    //     text-transform: uppercase !important;
    // }


    .previous {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
      }
      
      .previous:hover {
        background-color: #ddd;
        color: black;
      }
      
      .previous {
        background-color: #f1f1f1;
        color: black;
      }
      
      .next {
        background-color: #4CAF50;
        color: white;
      }
      
      .round {
        border-radius: 50%;
      }

      .more{
        background-color: #047bf8;
        vertical-align: middle;
        position: relative;
        left: -10px;
        padding: 2px 7px;
        border-radius: 12px;
        color: #fff;
        font-size: 10px;
        width: fit-content;
        cursor: pointer;
      }


     .statusview {
        float: right;
        padding: 3px 6px;
        line-height: 1;
        display: inline-block;
        background-color: #26af31;
        border: 3px solid #26af31;
        color: #fff;
        margin-right: 2px;
        font-size: 0.72rem;
        border-radius: 4px;
        margin-bottom: 2px;
        margin-top: 2px;
        text-transform: capitalize;
        font-weight: 400
      }
      .content_view{
        height: 88vh;
        overflow: auto;
        padding: 2px;
        width: 130%;
    }
    .image{
        max-width: 350px;
        max-height: 150px;
    }
    .support-index .support-ticket-content-w{
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        padding-right: 20px;
        margin-right: 20px;
        flex: 0.8 !important
    }
    .support-index .support-tickets{
        padding-right: 0px;
        margin-right: 0px; 
        border-right: 0px 
    }
    .row{
        margin-bottom: 15px;
    }
    .content-w{
        background: #eeeeee;
    }
    .ticket-reply span {
        display: table-cell;
        word-break: break-word;
    }