// .sidebar {
//   width: 309px;
//   height: 700px;
// }
.header{
  height: 62px;
  background-color: white;
}
.content-W {
  width: 82%;
  max-width: 82%;
  min-width: 82%;
}
.forLoginWidth {
  width: 100%;
}
.border-info{
  left: 23%;
}
@media (max-width:1023px) {
  .content-W{
    width: 100%!important;
  }
  .content-W {
    width: 98%;
    max-width: 98%;
    min-width: 98%;
  }
}
