<ng-progress [speed]="200" [color]="'#fc6fb1'" [showSpinner]="false" [ease]="'easeOutQuad'" [trickleSpeed]="250">
</ng-progress>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
<!-- <div class='container'>
    <div class='col-md-12'>
        <app-header *ngIf="isLoggedIn$ | async" (logoutClick)="logout()"></app-header>
    </div>
    <div class='col-md-2'>
        <app-sidebar class="sidebar" *ngIf="isLoggedIn$ | async"></app-sidebar>
    </div>
    <div class='col-md-10'>
        <router-outlet></router-outlet>
    </div>
</div> -->

<app-sidebar class="sidebar" *ngIf="isLoggedIn$ | async"></app-sidebar>
<!-- <div class="content-W -->
<div [ngClass]="{ 'content-W':!forLogin , 'forLoginWidth': forLogin}">
        <app-header class='header' *ngIf="isLoggedIn$ | async" (logoutClick)="logout()"></app-header>
    <div class="content-i">
        <router-outlet></router-outlet>
    </div>
</div>