.dateForm {
    display: flex;
    justify-content: center;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.forDateForm {
    display: none;
  }
  .date {
    margin: 16px 0px 10px 0px;
    border: 1px solid gray;
    padding: 11px 1px 1px 1px;
    border-color: #d1d8e6;
  }
  .forColumn {
    text-align: center;
  }