<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="content-i">
  <div class="content-box">
    <br>
    <div class="c-header row" style="display: block;margin-right: 0;">{{title}}
      <div class="search-cont">
        <span>
          <button class="btn btn-primary-red" type="submit" style="margin-right: 0;" (click)="generatePDF()">
            Export as PDF
          </button>
        </span>
      </div>
    </div>
    <div [ngClass]="{ 'date': true, 'forDateForm': forDateform}">
      <div class="col-sm-12 dateForm" style="padding-right: 0;">
        <div class="col-sm-12" style="padding-right: 0;">
          <form [formGroup]="dateForm" (ngSubmit)="onSubmit()">
            <div class="row" style="margin-right: 0;"><label for="" style="margin-top: 18px;">Start Date <span
                  class='required'>*</span></label>
              <!-- <div class="col-sm-2"> <label for="">Start Date<span class='required'>*</span></label></div> -->
              <div class=" col-sm-3" style="margin-right: 70px;">
                <div class="form-group">
                  <input type="text" id="start" placeholder="dd/mm/yyyy" name="start_date" class="form-control"
                    [(bsValue)]="startDate" value="{{ startDate | date:'dd-MM-yyyy' }}"
                    [ngClass]="{ 'is-invalid': submitted && f.start_date.errors}" [minDate]="minDate1" ngDefaultControl
                    bsDatepicker formControlName="start_date" [bsConfig]="bsConfig" #dp="bsDatepicker"
                    [(ngModel)]="startDate" readonly>
                  <div *ngIf="submitted && f.start_date.errors" class="invalid-feedback">
                    <div *ngIf="f.start_date.errors.required">Required</div>
                  </div>
                </div>
              </div>
              <label for="" style="margin-top: 18px;">End Date <span class='required'>*</span></label>
              <!-- <div class="col-sm-2"> <label for="">End Date <span class='required'>*</span></label></div> -->
              <div class="col-sm-3">
                <div class="form-group">
                  <input type="text" id="end" placeholder="dd/mm/yyyy" name="end_date" class="form-control custom-date"
                    [(bsValue)]="endDate" value="{{ endDate | date:'dd-MM-yyyy' }}"
                    [ngClass]="{ 'is-invalid': submitted && f.end_date.errors}" [minDate]="minDate2" bsDatepicker
                    formControlName="end_date" [bsConfig]="bsConfig" #dp="bsDatepicker" [(ngModel)]="endDate"
                    ngDefaultControl readonly>
                  <div *ngIf="submitted && f.end_date.errors" class="invalid-feedback">
                    <div *ngIf="f.end_date.errors.required">Required</div>
                    <div *ngIf="f.end_date.errors.startdate">End date should not be less then start
                      date
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3" style="text-align: right;margin:4px 0px 0px 10px;padding-right: 0;">
                <button class="btn btn-primary-red" type="submit">
                  Submit</button>
                <button class="btn btn-success btn-cons business-publish-btn" (click)='forclear()' type="reset">
                  Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'scrollmenu': true ,'tableDiv':true,'table-responsive':true}">
      <table class="table table-bordered table-v2 table-striped overflow-auto">
        <thead>
          <tr>
            <th class='center' style="width: 1%!important;">#</th>
            <!-- sales report && order report || low stock-->
            <th style="width: 2%;">
              {{forTab == 'order_reports' ? 'Order Date' : 'Brand Name'}}</th>
            <!-- *ngIf="flag == 'inactive' || flag == 'active'" -->
            <!-- sales report -->
            <th style="width: 2%!important;" *ngIf="forTab == 'sales_reports' || forTab == 'stock_reports'">
              {{forTab == 'sales_reports' ? 'Quantity' : 'Stock in Hand'}}</th>
            <!-- sales report -->
            <th style="width: 7%;" *ngIf="forTab == 'stock_reports'">
              Supplier</th>
            <!-- order report-->
            <th style="width: 1%;" *ngIf="forTab == 'order_reports'">Order Number</th>
            <!-- order report-->
            <th style="width: 1%;" *ngIf="forTab == 'order_reports'">Delivery to (Country)</th>
            <!-- order report-->
            <th style="width: 2%!important;" *ngIf="forTab == 'order_reports' || forTab == 'stock_reports'">
              {{forTab == 'order_reports' ? 'Total Quantity' : 'Stock Location'}}</th>
            <!-- sales report -->
            <th style="width: 2%!important;" *ngIf="forTab == 'order_reports' || forTab == 'sales_reports'">Total Amount
              In AED
            </th>
            <!-- sales report -->
            <th style="width:2%!important;" *ngIf="forTab == 'order_reports' || forTab == 'sales_reports'">Total Amount
              In USD
            </th>
            <!-- low stock report -->
          </tr>
        </thead>
        <tbody style="font-weight: normal;">
          <ng-container *ngIf="records?.length && !loader">
            <tr *ngFor="let record of records;index as i">
              <td class='center' style='max-width:20px!important;'>
                {{i+1}}
              </td>

              <td *ngIf="forTab == 'order_reports'" class="forColumn">
                {{record?.order_date | medium_date}}
              </td>
              <td *ngIf="forTab == 'order_reports'" class="forColumn">
                #{{record?.order_number}}
              </td>
              <td *ngIf="forTab == 'order_reports'" class="forColumn">
                {{record?.user_id?.country_name}}
              </td>
              <td *ngIf="forTab == 'order_reports'" class="forColumn">
                {{record?.quantity}}
              </td>
              <td style="text-align:right;" *ngIf="forTab == 'order_reports'" class="forColumn">
                {{record?.total_amount_aed | currency:'&nbsp;':true:'1.2-2'}}
              </td>
              <td style="text-align:right;" *ngIf="forTab == 'order_reports'" class="forColumn">
                {{record?.total_amount_usd | currency:'&nbsp;':true:'1.2-2'}}
              </td>
              <td *ngIf="forTab == 'stock_reports'" class="forColumn">
                {{record?.brand?.brand_name}}
              </td>
              <td *ngIf="forTab == 'stock_reports'" class="forColumn">
                {{record?.quantity}}
              </td>
              <td *ngIf="forTab == 'stock_reports'" class="forColumn">
                {{record?.supplier_id?.name}}
              </td>
              <td *ngIf="forTab == 'stock_reports'" class="forColumn">
                {{record?.stock_location}}
              </td>
              <td *ngIf="forTab == 'sales_reports'" class="forColumn">
                {{record?.brand_name}}
              </td>
              <td *ngIf="forTab == 'sales_reports'" class="forColumn">
                {{record?.quantity}}
              </td>
              <td style="text-align:right;" *ngIf="forTab == 'sales_reports'" class="forColumn">
                {{record?.total_amount_aed | currency:'&nbsp;':true:'1.2-2'}}
              </td>
              <td style="text-align:right;" *ngIf="forTab == 'sales_reports'" class="forColumn">
                {{record?.total_amount_usd | currency:'&nbsp;':true:'1.2-2'}}
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="!records?.length && !loader">
            <td colspan="12" class="text-center">
              <a class="text-primary">
                <strong>No Details</strong>
              </a>
            </td>
          </tr>
          <tr *ngIf="this.remainingRecords>0 && !loader">
            <td colspan="12" class="text-center">
              <button class="btn-red btn btn-success" (click)="loadMore()">Load More ({{remainingRecords}})
              </button>
            </td>
          </tr>
          <tr *ngIf="loader">
            <td colspan="12" class="text-center">
              <div class="lds-dual-ring"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>