<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="content-i">
  <div class="content-box">
    <br>
    <div class="c-header row" style="display: block;margin-right: 0;">Open Orders {{details}}


      <div class="search-cont">
        <input *ngIf="!openOrderDetails" type="text" [(ngModel)]="search" #searchinput class="form-control"
          placeholder="Search Orders" (keyup)="searchProduct()">
        <button *ngIf="openOrderDetails" class="btn btn-primary-red" type="submit" (click)="generatePDF()">
          Export as PDF
        </button>
        <!-- <button *ngIf="openOrderDetails" class="btn btn-primary-red" type="submit" (click)="print()">Print</button> -->
        <button *ngIf="openOrderDetails" class="btn btn-primary-red" style="margin-right: 0;" type="submit"
          (click)="orderList()">
          Order List
        </button>
      </div>
      <!-- <div class="logo-w" *ngIf="openOrderDetails">
        <a class="logo">
          <img src="../../../../assets/images/FMCG_logo.png" style="width: 60px; display: inline-block;">
          <img src="../../../../assets/images/logo.png" style="width: 130px; display: inline-block;">
        </a>
      </div> -->
    </div>
    <!-- class="scrollmenu tableDiv table-responsive" -->
    <div [ngClass]="{ 'scrollmenu': true ,'tableDiv':true,'table-responsive':true, 'openOrder': openOrderDetails}">
      <table class="table table-bordered table-v2 table-striped overflow-auto">
        <thead>
          <tr>
            <th class='center' style="width: 3%;">#</th>
            <th style="width: 1%;">Order Number</th>
            <th style="width: 1%;">Customer Name</th>
            <th style="width: 1%;">Email Id</th>
            <th style="width: 1%;">Mobile No.</th>
            <!-- <th style="width: 1%;">Shipping Address</th> -->
            <th style="width: 1%;">Order Date</th>
            <th style="width: 10%;">Total Amount In AED</th>
            <th style="width: 10%;">Total Amount In USD</th>
            <th style="width: 10%;">Callback Request</th>
            <th style="width: 15%;">Status</th>
            <th class='action' style="width: 80px">Action</th>
          </tr>
        </thead>
        <tbody style="font-weight: normal;">
          <ng-container *ngIf="records?.length && !loader">
            <tr *ngFor="let record of records;index as i">
              <td class='center' style='max-width:20px!important;'>
                {{i+1}}
              </td>
              <td>
                {{record?.order_number}}
              </td>
              <td>
                {{record.users[0]?.first_name}} {{record.users[0]?.last_name}}
              </td>
              <td>
                {{record.users[0]?.email}}
              </td>
              <td>
                {{record.users[0]?.mobile_number}}
              </td>
              <!-- <td>
                <div class=scrollable>
                  {{record.users[0]?.shipping_address}}</div>
              </td> -->
              <td>
                {{record.order_date | medium_date}}
              </td>
              <td style="text-align: right;">
                {{record?.total_amount_aed | currency:'&nbsp;':true:'1.2-2'}}
              </td>
              <td style="text-align: right;">
                {{record?.total_amount_usd | currency:'&nbsp;':true:'1.2-2'}}
              </td>
              <td style="text-align: center;">
                {{record?.callback_request == true ? "Yes" : "No" }}
              </td>
              <td style="text-transform: capitalize;">
                {{orderStatus(record?.order_status)}}
                <!-- {{record?.order_status == 'order_placed' ? "Order Placed" : record?.order_status}} -->
              </td>
              <!-- <td><div class=scrollable>
                {{record?.description}}</div>
              </td> -->
              <td style="text-align: center;">
                <a style="margin-right: 2%;" (click)="viewonlyOrder(i)" data-toggle="tooltip" data-placement="left"
                  title="View order details">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a style="margin-right: 2%;" (click)="openModal(order,i,'Edit')" data-toggle="tooltip"
                  data-placement="left" title="Edit order status">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a style="margin-right: 2%;" (click)="DeleteRecord(delete,i,record._id)" data-toggle="tooltip"
                  data-placement="left" title="Delete order">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="!records?.length && !loader">
            <td colspan="12" class="text-center">
              <a class="text-primary">
                <strong>No Order</strong>
              </a>
            </td>
          </tr>
          <tr *ngIf="this.remainingRecords>0 && !loader">
            <td colspan="12" class="text-center">
              <button class="btn-red btn btn-success" (click)="loadMore()">Load More ({{remainingRecords}})
              </button>
            </td>
          </tr>
          <tr *ngIf="loader">
            <td colspan="12" class="text-center">
              <div class="lds-dual-ring"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- for shipping address and date  -->
    <!-- class="col-sm-12 dateForm"  -->
    <!-- <div > -->
    <!-- print area start  -->
    <div id="print-section">

      <div [ngClass]="{'row':true ,'openOrder': !openOrderDetails}">
        <div class="col-sm-12 dateForm" style="margin-top: 0px;">
          <div class="col-sm-6" style="top:10px; padding-left: 0px;">
            <div class="row">
              <div class="col-sm-4" style="padding-left: 0px; margin-bottom: 3%;"> <label
                  class="orderDetailsHeading">Order Number</label></div>
              <div class=" col-sm-8">
                #{{orderNumber}}
              </div>
              <div class="col-sm-4" style="padding-left: 0px;"> <label class="orderDetailsHeading">Order Date</label>
              </div>
              <div class="col-sm-8">
                {{orderDate}}
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="top: 10px; text-align: right;">
            <div class="row">
              <div class="col-sm-12"> <label class="orderDetailsHeading">Shipping Address</label></div>
              <div class=" col-sm-12">
                {{customerName}},
                <br>
                {{shippingAdd}}
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-12">
          <button style="margin-bottom: 1%;float:right;border-radius: 50%;background: #ed2124;border-color: #ed2124;"
            *ngIf="openOrderDetails" class="btn btn-primary-red" type="submit"
            (click)="openModal2(openOrder,'null','Add')" data-toggle="tooltip" data-placement="left"
            title="Add new item">
            +
          </button>
        </div>
      </div>
      <!-- for open order details  -->
      <div [ngClass]="{ 'scrollmenu': true ,'tableDiv':true,'table-responsive':true, 'openOrder': !openOrderDetails}">
        <table class="table table-bordered table-v2 table-striped overflow-auto">
          <thead>
            <tr>
              <th class='center' style="width: 3%!important;">#</th>
              <th style="width: 10%;">Brand Name</th>
              <th class='center' style="width: 10%;">Supplier</th>
              <th style="width: 5%;">Quantity</th>
              <th style="width: 5%;">Price (in AED)</th>
              <th style="width: 5%;">Deal %</th>
              <th style="width: 5%;">Discount Price (in AED)</th>
              <th style="width: 5%;">Total Price (in AED)</th>
              <th class='action' style="width: 5%;">Action</th>
            </tr>
          </thead>
          <tbody style="font-weight: normal;">
            <ng-container *ngIf="productRecords?.length && !loader">
              <tr *ngFor="let product of productRecords;index as i">
                <td class='center' style='max-width:20px!important;'>
                  {{i+1}}
                </td>
                <td>
                  {{product.product_detail?.brand.brand_name}}
                </td>
                <td>
                  {{product.product_detail?.supplier_id.name}}
                </td>
                <td style="text-align: center;">
                  {{product?.quantity}}
                </td>
                <td style="text-align: right;">
                  {{product?.product_detail?.sales_per_case_aed | currency:'&nbsp;':true:'1.2-2'}}
                </td>
                <td style="text-align: center;">
                  {{product?.product_detail?.deal?.isActive && product?.product_detail?.isAdd ? product?.product_detail?.deal?.deal_percentage : ''}}
                  <!-- {{product?.product_detail?.deal?.deal_percentage}} -->
                </td>
                <td style="text-align: right;">
                  <!-- {{product.product_detail.deal?.offer_price_aed ? product.product_detail.deal?.offer_price_aed : product.product_detail?.sales_per_case_aed}} -->
                  {{(product.product_detail.deal?.offer_price_aed && product?.product_detail?.isAdd ? product.product_detail.deal?.offer_price_aed : (product.product_detail?.discount_price_aed ? product.product_detail?.discount_price_aed : product.product_detail?.sales_per_case_aed )) | currency:'&nbsp;':true:'1.2-2'}}
                </td>
                <td style="text-align: right;">
                  <!-- {{(product.product_detail.deal?.offer_price_aed ? product.product_detail.deal?.offer_price_aed : product.product_detail?.sales_per_case_aed) * product?.quantity}} -->
                  {{(product.product_detail.deal?.offer_price_aed && product?.product_detail?.isAdd ? product.product_detail.deal?.offer_price_aed : (product.product_detail?.discount_price_aed ? product.product_detail?.discount_price_aed : product.product_detail?.sales_per_case_aed )) * product?.quantity | currency:'&nbsp;':true:'1.2-2' }}
                </td>
                <td style="text-align: center;">
                  <a style="margin-right: 2%;" (click)="openModal2(openOrder,i,'Edit')" data-toggle="tooltip"
                    data-placement="left" title="Edit This item">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                  <a style="margin-right: 2%;"
                    (click)="DeleteRecord1(delete1,i,product.product_detail._id,product.quantity)" data-toggle="tooltip"
                    data-placement="left" title="Delete Item">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="!productRecords?.length && !loader">
              <td colspan="12" class="text-center">
                <a class="text-primary">
                  <strong>No Order</strong>
                </a>
              </td>
            </tr>
            <!-- <tr *ngIf="this.remainingRecords>0 && !loader">
              <td colspan="12" class="text-center">
                <button class="btn-red btn btn-success" (click)="loadMore()">Load More ({{remainingRecords}})
                </button>
              </td>
            </tr> -->
            <tr *ngIf="loader">
              <td colspan="12" class="text-center">
                <div class="lds-dual-ring"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- for total amount  -->


      <div [ngClass]="{'row':true ,'openOrder': !openOrderDetails}">
        <div class="col-sm-12 dateForm2">
          <div class="col-sm-5" style="top: 10px;">
            <div class="row" style="text-align: right; display: flex; justify-content: flex-end;">
              <div class="col-sm-6"> <label class="orderDetailsHeading">Total Amount (in AED)</label></div>
              <div class=" col-sm-4" style="display: flex; justify-content: flex-end;">
                {{orderDetailstotalPriceAED | currency:'&nbsp;':true:'1.2-2'}} AED
              </div>
              <div class="col-sm-6"> <label class="orderDetailsHeading">Total Amount (in USD)</label></div>
              <div class="col-sm-4" style="display: flex; justify-content: flex-end;">
                {{orderDetailstotalPriceUSD | currency:'&nbsp;':true:'1.2-2'}} USD
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- print area end -->
    </div>
    <!-- for delete single  -->
    <ng-template #delete>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirmToDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modalRef3.hide()">No</button>
      </div>
    </ng-template>
    <ng-template #delete1>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirmToDelete1()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modalRef3.hide()">No</button>
      </div>
    </ng-template>
    <!-- <div class="div ">
    </div> -->
  </div>
</div>
<!-- for add/edit modal -->
<ng-template #order>
  <div class="modal-header">
    <div class="col-md-10">
      <h4 id="order" class="modal-title pull-left">{{ editOrder}} Order</h4>
    </div>
    <button id="close-wrap" type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="OrderForm" (ngSubmit)="onSubmit()">
      <div class="row" [disabled]="viewOnly">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Order Number</label>
            <input class="form-control" type="number" name="order_number" [(ngModel)]="orderNumber"
              [ngModelOptions]="{standalone: true}" placeholder="Order number" required disabled>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Order Date </label>
            <input class="form-control" type="text" name="order_date" [(ngModel)]="orderDate"
              [ngModelOptions]="{standalone: true}" placeholder="dd/mm/yyyy" required disabled>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Customer Name </label>
            <input class="form-control" type="text" name="costomer_name" [(ngModel)]="customerName"
              [ngModelOptions]="{standalone: true}" placeholder="customer name" required disabled>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Mobile No. </label>
            <input class="form-control" type="text" name="mobile_no" [(ngModel)]="mobileNo"
              [ngModelOptions]="{standalone: true}" placeholder="mobile no" required disabled>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Email Id </label>
            <input class="form-control" type="text" name="emailId" [(ngModel)]="emailId"
              [ngModelOptions]="{standalone: true}" placeholder="email id" required disabled>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Total Amount in AED </label>
            <input class="form-control" type="text" name="total_amount_aed" [(ngModel)]="totalAmountAED"
              [ngModelOptions]="{standalone: true}" placeholder="total amount in AED" required disabled>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Total Amount in USD </label>
            <input class="form-control" type="text" name="total_amount_usd" [(ngModel)]="totalAmountUsd"
              [ngModelOptions]="{standalone: true}" placeholder="total amount in AED" required disabled>
          </div>
        </div>

        <!-- demo  start-->

        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="">Order Date <span class='required'>*</span></label>
            <input type="text" placeholder="dd/mm/yyyy" name="order_date" class="form-control" [(bsValue)]="startDate"
              value="{{ startDate | date:'dd-MM-yyyy' }}"
              [ngClass]="{ 'is-invalid': submitted && f.order_date.errors, 'disInput': viewOnly}" [minDate]="minDate1"
              ngDefaultControl bsDatepicker formControlName="order_date" [bsConfig]="bsConfig" #dp="bsDatepicker"
              [(ngModel)]="startDate" readonly>
            <div *ngIf="submitted && f.order_date.errors" class="invalid-feedback">
              <div *ngIf="f.order_date.errors.required">Required</div>

            </div>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="form-group">
            <label for="">First Name <span class='required'>*</span></label>
            <input class="form-control" type="text" pattern=""
              [ngClass]="{ 'is-invalid': submitted && f.first_name.errors, 'disInput': viewOnly}" name="first_name"
              formControlName="first_name" placeholder="First Name" required>
            <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
              <div *ngIf="f.first_name.errors.required">First Name is Required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Last Name <span class='required'>*</span></label>
            <input class="form-control" type="text" pattern=""
              [ngClass]="{ 'is-invalid': submitted && f.last_name.errors, 'disInput': viewOnly}" name="last_name"
              formControlName="last_name" placeholder="Last Name" required>
            <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
              <div *ngIf="f.last_name.errors.required">last Name is Required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Email<span class='required'>*</span></label>
            <input class="form-control" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors, 'disInput': viewOnly}" name="email"
              formControlName="email" placeholder="Email Id" required>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is Required</div>
              <div [hidden]="!f.email.errors?.pattern">Email is Invalid</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Mobile Number<span class='required'>*</span></label>
            <input class="form-control" type="number" pattern=""
              [ngClass]="{ 'is-invalid': submitted && f.mobile_number.errors, 'disInput': viewOnly}"
              name="mobile_number" formControlName="mobile_number" placeholder="Mobile No" required>
            <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
              <div *ngIf="f.mobile_number.errors.required">Mobile Number is Required</div>
              <div [hidden]="!f.mobile_number.errors?.pattern">Mobile Number is Invalid</div>
            </div>
          </div>
        </div> -->
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Status<span class='required'>*</span> </label>
            <select class="form-control" [(ngModel)]="selectStatusId" formControlName="orderStatus"
              (change)="onItemChange($event.target.value)" required>
              <option [value]="s" disabled='true'>Select Status</option>
              <option *ngFor="let status of orderStatusArr" [value]="status.order_status">{{status.orderStatus}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Shipping Address<span class='required'>*</span></label>
            <textarea class="form-control" type="text" pattern=""
              [ngClass]="{ 'is-invalid': submitted && f.shipping_address.errors, 'disInput': viewOnly}"
              name="shipping_address" formControlName="shipping_address" placeholder="Shipping Address"
              required></textarea>
            <div *ngIf="submitted && f.shipping_address.errors" class="invalid-feedback">
              <div *ngIf="f.shipping_address.errors.required">Shipping Address is Required</div>
              <!-- <div [hidden]="!f.shipping_address.errors?.pattern">Mobile Number is Invalid</div> -->
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="">Total Amount AED<span class='required'>*</span></label>
            <input class="form-control" type="number" pattern=""
              [ngClass]="{ 'is-invalid': submitted && f.total_amount_aed.errors, 'disInput': viewOnly}"
              name="total_amount_aed" formControlName="total_amount_aed" (keyup)='AEDtoUSD($event.target.value)' placeholder="Total Amount AED" required>
            <div *ngIf="submitted && f.total_amount_aed.errors" class="invalid-feedback">
              <div *ngIf="f.total_amount_aed.errors.required">Total Amount AED is Required</div>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="">Total Amount UED<span class='required'>*</span></label>
            <input class="form-control" type="number" pattern=""
              [ngClass]="{ 'is-invalid': submitted && f.total_amount_usd.errors, 'disInput': viewOnly}"
              name="total_amount_usd" formControlName="total_amount_usd" placeholder="Total Amount AED" required disabled>
            <div *ngIf="submitted && f.total_amount_usd.errors" class="invalid-feedback">
              <div *ngIf="f.total_amount_usd.errors.required">Total Amount UED is Required</div>
            </div>
          </div>
        </div> -->
        <div class="col-sm-4">
          <div class="form-group">
            <label for="">Callback Request</label>
            <br>
            <input type="radio" name="callback_request" [value]="false" id="option1" id="no"
              formControlName="callback_request" checked> No
            <input type="radio" name="callback_request" [value]="true" id="option2" formControlName="callback_request">
            Yes
          </div>
        </div>
        <!-- demo end -->




        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="">Shipping Address </label>
            <textarea class="form-control" type="text" name="shipping_address" [(ngModel)]="shippingAdd"
              [ngModelOptions]="{standalone: true}" placeholder="shipping address" required></textarea>
          </div>
        </div> -->


        <!-- status -->


      </div>
      <!-- <div class="modal-footer"> -->
      <div class="form-buttons-w" style="text-align: right;padding-right: 20px;">
        <button class="btn btn-success btn-cons business-publish-btn" [ngClass]="{ 'view': viewOnly}" type="submit">
          Update</button>
      </div>
      <!-- </div> -->
    </form>
  </div>

</ng-template>

<!-- for add/edit order details -->
<ng-template #openOrder>
  <div class="modal-header">
    <div class="col-md-10">
      <h4 id="order" class="modal-title pull-left">{{ editCategory}} Product</h4>
    </div>
    <button id="close-wrap" type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit1()">
      <div class="row" [disabled]="viewOnly">
        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="">Brand Name<span class='required'>*</span> </label>
            <select class="form-control" [(ngModel)]="selectBrandId" formControlName="brand_id"
              (change)="onItemChange3($event.target.value)" required>
              <option [value]="b" disabled='true'>Select Brand</option>
              <option *ngFor="let brand of brandList, index as i" [value]="brand._id">{{brand.brand_name}}
              </option>
            </select>
          </div>
        </div> -->
        <div class="col-sm-12"><label for="">Brand Name<span class='required'>*</span></label>
          <div class="form-group input-group">
            <input class="form-control" type="text" autocomplete="off" id="suggestName"
              [ngClass]="{ 'red': submitted && g.product_name.errors, 'disInput': viewOnly}" name="product_name"
              formControlName="product_name" placeholder="Brand Name" (click)="suggest()" (input)="suggest()" required>
            <div
              [ngClass]="{ 'red1': submitted && g.product_name.errors, 'disInput': viewOnly, 'input-group-append': true}">
              <button [ngClass]="{ 'forX': viewOnly}" (click)="forclear()" class="btn btn-light clearbtn"
                type="button">X</button>
            </div>
            <div *ngIf="submitted && g.product_name.errors" class="invalid-feedback">
              <div *ngIf="g.product_name.errors.required">Brand Name is Required</div>
              <div *ngIf="g.product_name.errors.notFound">Please select valid brand name</div>
            </div>
            <!-- <div *ngIf="submitted && f.actual_price_aed.errors" class="invalid-feedback">
              <div *ngIf="f.actual_price_aed.errors.notFound">Please select valid brand name</div>
            </div> -->
            <!-- <div class="invalid-feedback" *ngIf="!suggestions.length && flag">**Not found!!</div> -->
            <div class="suggestions" *ngIf="suggestions.length"
              [ngClass]="{'disInput': viewOnly, 'forDispale': namelist}">
              <ul *ngFor="let s of suggestions,index as i" class="list-group">
                <li (click)="SelectName(s)" class="list-group-item list-group-item-action">{{s.brand.brand_name}}
                  ({{s.product_code}})</li>
              </ul>
              <!-- <p *ngFor="let s of suggestions,index as i"><a href="" class="badge badge-light">{{s.product_name}}</a></p> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Supplier Name</label>
            <input class="form-control" type="text" name="supplier name" [(ngModel)]="supplier"
              [ngModelOptions]="{standalone: true}" placeholder="Supplier Name" required disabled>
          </div>
        </div>
        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="">Supplier Name<span class='required'>*</span> </label>
            <select class="form-control" [(ngModel)]="selectSupplierId" formControlName="supplier_id"
              (change)="onItemChange1($event.target.value)" required>
              <option [value]='s' disabled='true'>Select Supplier</option>
              <option *ngFor="let supplier of supplierList" [value]="supplier._id">{{supplier.name}}
              </option>
            </select>
          </div> ^[0-9.]+$
        </div> -->
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Actual Price (in AED)</label>
            <input class="form-control" type="number" name="total_amount_usd" [(ngModel)]="actualPriceProduct"
              [ngModelOptions]="{standalone: true}" placeholder="Actual price (in AED)" required disabled>
          </div>
        </div>
        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="">Quantity<span class='required'>*</span></label>
            <input id="quantity" class="form-control" type="number" pattern="^[0-9]*[1-9][0-9]*$"
              [ngClass]="{ 'is-invalid': submitted && g.quantity.errors, 'disInput': viewOnly}" name="quantity"
              formControlName="quantity" placeholder="Quantity" required (keyup)='forCal($event.target.value)'>
            <div *ngIf="submitted && g.quantity.errors" class="invalid-feedback">
              <div [hidden]="!g.quantity.errors?.pattern">Should be > 0 </div>
              <div *ngIf="g.quantity.errors.required">Quantity is Required</div>
              <div *ngIf="g.quantity.errors.more">Should be less or equal to total quantity (total quantity =
                {{totalQuantity}})</div>
            </div>
          </div>
        </div> -->
        <!--  -->
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Discounted Price (in AED)<span class='required'>*</span></label>
            <input id="price" class="form-control" type="number"
              [ngClass]="{ 'is-invalid': submitted && g.sales_per_case_aed.errors, 'disInput': viewOnly}"
              name="sales_per_case_aed" formControlName="sales_per_case_aed" placeholder="Price (in AED)" required
              (keyup)='forCal($event.target.value)'>
            <div *ngIf="submitted && g.sales_per_case_aed.errors" class="invalid-feedback">
              <!-- <div [hidden]="!g.sales_per_case_aed.errors?.pattern">Should be > 0 </div> -->
              <div *ngIf="g.sales_per_case_aed.errors.required">Price (in AED) is Required</div>
              <!-- <div *ngIf="g.sales_per_case_aed.errors.pattern">Should be > 0 </div> -->
              <div *ngIf="g.sales_per_case_aed.errors.notFound">Should be > 0 </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="">Deal %<span class='required'>*</span></label>
            <input id="deal" class="form-control" type="number" pattern="" (keyup)='forCal($event.target.value)'
              [ngClass]="{ 'is-invalid': submitted && g.deal.errors, 'disInput': viewOnly}" name="deal"
              formControlName="deal" placeholder="Deal %" required>
            <div *ngIf="submitted && g.deal.errors" class="invalid-feedback">
              <div *ngIf="g.deal.errors.required">Deal % is Required</div>
            </div>
          </div>
        </div> -->


        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Discount (in AED) </label>
            <input class="form-control" type="number" name="total_amount_usd" [(ngModel)]="discountPriceProduct"
              [ngModelOptions]="{standalone: true}" placeholder="Discount price (in AED)" required disabled>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Quantity<span class='required'>*</span></label>
            <input id="quantity" class="form-control" type="number" pattern="^[0-9]*[1-9][0-9]*$"
              [ngClass]="{ 'is-invalid': submitted && g.quantity.errors, 'disInput': viewOnly}" name="quantity"
              formControlName="quantity" placeholder="Quantity" required (keyup)='forCal($event.target.value)'>
            <div *ngIf="submitted && g.quantity.errors" class="invalid-feedback">
              <div [hidden]="!g.quantity.errors?.pattern">Should be > 0 </div>
              <div *ngIf="g.quantity.errors.required">Quantity is Required</div>
              <div *ngIf="g.quantity.errors.more">Should be less or equal to total quantity (total quantity =
                {{totalQuantity}})</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Total price (In AED)</label>
            <input class="form-control" type="number" name="total_amount_usd" [(ngModel)]="totaltPriceProduct"
              [ngModelOptions]="{standalone: true}" placeholder="Total price (In AED)" required disabled>
          </div>
        </div>


        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="">Discount price (in AED)<span class='required'>*</span></label>
            <input class="form-control" type="text" pattern=""
              [ngClass]="{ 'is-invalid': submitted && f.shipping_address.errors, 'disInput': viewOnly}"
              placeholder="Shipping Address" required disabled>
            <div *ngIf="submitted && f.shipping_address.errors" class="invalid-feedback">
              <div *ngIf="f.shipping_address.errors.required">Shipping Address is Required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Total price (In AED)<span class='required'>*</span></label>
            <input class="form-control" type="text" pattern=""
              [ngClass]="{ 'is-invalid': submitted && f.shipping_address.errors, 'disInput': viewOnly}"
              name="shipping_address" placeholder="Shipping Address" required disabled>
          </div>
        </div> -->
      </div>
      <!-- <div class="modal-footer"> -->
      <div class="form-buttons-w" style="text-align: right;padding-right: 20px;">
        <button class="btn btn-success btn-cons business-publish-btn" [ngClass]="{ 'view': viewOnly}" type="submit">
          {{editCategory==='Edit'?'Update':'Submit'}}</button>
      </div>
      <!-- </div> -->
    </form>
  </div>
</ng-template>
<ng-template #confirmForproduct class="subModal">
  <div class="modal-body text-center">
    <p>Product already exist in order, you want to add again ?</p>
    <button type="button" class="btn btn-default" (click)="submitsection2()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef5.hide()">No</button>
  </div>
</ng-template>