.center {
  text-align: center;
}
.btn-green {
  color: #fff;
  background-color: #069627;
  border-color: #069627;
}
.btn-red {
  background-color: red;
  border-color: red;
}
.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e65252;
}
.selected-list .c-btn {
  width: 102%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  position: relative;
}

.description {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 129px;
}
.view {
  display: none;
}
.disInput {
  pointer-events: none;
}
.scrollable {
  // width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.tableDiv {
  overflow: auto;
  width: 100%;
}
.openOrder {
  display: none;
}
.dateForm {
  display: flex;
  justify-content: center;
  margin: 2% 0%;
  padding: 0px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.orderDetailsHeading {
  color: red;
  margin-bottom: 4%;
  padding-left: 0px;
}
.dateForm2 {
  display: flex;
  justify-content: flex-end;
}
.table th,
.table td {
  padding: 0.7rem 0.5rem;
}

.menu-mobile .mm-logo-buttons-w .mobile-menu-trigger {
  color: #ed2124;
}
.clearbtn {
  border: 2px solid #dde2ec;
  border-radius: 4px;
  border-left: none;
}
.red {
  border: 2px red solid;
}
.red1 {
  border: 2px red solid;
  border-left: none;
  .btn {
    color: red;
  }
}
.forX {
  display: none;
}
.suggestions {
  border: 2px solid #dde2ec;
  border-radius: 4px;
  max-height: 180px;
  overflow: auto;
  z-index: 99;
  background-color: #ffffff;
  width: 96%;
  position: absolute;
  border-top: none;
  top: 100%;
}
.forDispale {
  display: none;
}
div.modal-content {
  border: 1px solid red;
  width: 65%;
  margin: 29% 2% 1% 19%;
}
.subModal {
  border: 1px solid red;
  width: 65%;
  margin: 29% 2% 1% 19%;
}
