.chat {
  position: relative;
  bottom: -336px;
  padding-left: 1132px;
}

.dash:hover .dropdown-item {
  display: block;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.searchdivblock {
  display: block
}

.has-sub-menu:hover {
  background-color: #ed2124;
  cursor: pointer;
  //   color: #fff;
}

.has-sub-menu :hover {
  color: #fff;

  .os-icon {
    color: #fff;
  }

  .fa {
    color: #fff;
  }
}

.logged-user-w .avatar-w img {
  width: 35px;
}

.logged-user-w .avatar-w img {
  height: 35px;
  border-radius: 70%;
}

.logged-user-w .logged-user-role {
  display: block;
  font-size: 0.63rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 13em;
}

#inner {
  width: 350px;
  height: 250px;
  overflow: auto;
  float: right;
}

#outer {
  float: right;
}

.outer-section {
  position: absolute;
  left: 100%;
  margin-left: 10px;
  top: 14%;
  background-color: #fff;
  max-width: 300px;
  width: 100%;
  height: 200px;
  overflow: auto;
}

#logout {
  background-color: #e9ecef;
}
.menu-mobile .mm-logo-buttons-w .mobile-menu-trigger{
  color: #ed2124

}


// ul {
//     display:block;
//     background:#45619D;
//     list-style:none;
//     margin:0;
//     padding:12px 10px;
//     height:21px;
// }
// ul li {
//     float:left;
//     font:13px helvetica;
//     font-weight:bold;
//     margin:3px 0;
// }
// ul li a {
//     color:#FFF;
//     text-decoration:none;
//     padding:6px 15px;
//     cursor:pointer;
// }
// ul li a:hover {
//     background:#425B90;
//     text-decoration:none;
//     cursor:pointer;
// }

#noti_Container {
  position: relative;
}

/* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
#noti_Button {
  left: 10px;
  position: relative;
}

/* THE POPULAR RED NOTIFICATIONS COUNTER. */
#noti_Counter {
  display: block;
  position: absolute;
  background: #E1141E;
  color: #FFF;
  font-size: 12px;
  font-weight: normal;
  padding: 1px 3px;
  margin: -8px 0 0 25px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  z-index: 1;
}

/* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
#notifications {
  display: none;
  width: 430px;
  position: absolute;
  top: 30px;
  left: 228px;
  background: #FFF;
  border: solid 1px rgba(100, 100, 100, .20);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
  z-index: 9999;
}

/* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
#notifications:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #CCC;
  border-color: transparent transparent rgb(6, 241, 241);
  margin-left: -20px;
  margin-top: 10px;
  transform: rotate(-90deg);
}

h3 {
  display: block;
  color: #333;
  background: #FFF;
  font-weight: bold;
  font-size: 13px;
  padding: 8px;
  margin: 0;
  border-bottom: solid 1px rgba(100, 100, 100, .30);
  top: -25px;
  position: relative;
}

.seeAll {
  background: #F6F7F8;
  padding: 8px;
  font-size: 12px;
  font-weight: bold;
  border-top: solid 1px rgba(100, 100, 100, .30);
  text-align: center;
}

.seeAll a {
  color: #3b5998;
}

.seeAll a:hover {
  background: #F6F7F8;
  color: #3b5998;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(40, 26, 240, 0.76);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(58, 119, 42, 0.705);
}

.image_menu {
  background: url("../../../../assets/images/logout_red.png") no-repeat;
  width: 130px;
  height: 20px;
  margin-left: 6px;
  margin-top: 1px;
}

.image_menu:hover {
  background: url("../../../../assets/images/logout_white.png") no-repeat;
}

.has-sub-menu:hover>a>.icon-w>.image_menu {
  background: url("../../../../assets/images/logout_white.png") no-repeat;
}


// for drop down

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content {
  li {
  color: black;
  padding: 12px 16px;
  margin: 8px;
  text-decoration: none;
  display: block;
}
a{
  text-decoration: none;
}
}
// .dropdown-content 

// .dropdown-content li:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
.dropdown-content {
  bottom: 0;
  left: 98%;
  color: red;
  padding: 0;
}
.subMenu {
  background-color: red;
  color: white;
}

//////////for mobile view

.dropdown-content1{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 {
  li {
  color: black;
  padding: 12px 16px;
  margin: 8px;
  text-decoration: none;
  display: block;
}
a{
  text-decoration: none;
}
}
.dropdown:hover .dropdown-content1 {display: block;}
.dropdown-content1 {
  bottom: 0;
  left: 68%;
  color: red;
  padding: 0;
}
.hidemenu{ 
  display: none;
}