<div class="menu-mobile menu-activated-on-click color-scheme-light">

  <div class="mm-logo-buttons-w">
    <a class="mm-logo"><img src="../../../../assets/images/logo.png"></a>
    <div class="mm-buttons">
      <div class="content-panel-open">
        <div class="os-icon os-icon-grid-circles"></div>
      </div>
      <div class="mobile-menu-trigger" id='mobile-menu-trigger'>
        <div class="os-icon os-icon-hamburger-menu-1"></div>
      </div>
    </div>
  </div>

  <div class="menu-and-user">
    <ul class="main-menu" id='mobile-menu'>
      <li class=" has-sub-menu" [ngClass]="{ 'active':currentRoute('dashboard') }">
        <a [routerLink]="['/dashboard']">
          <div class="icon-w">
            <div class="fa fa-tachometer"></div>
          </div>
          <span>Dashboard</span>
        </a>
      </li>
      <li *ngIf='isSuperAdmin' class="has-sub-menu" [ngClass]="{ 'active':currentRoute('admin') }">
        <a [routerLink]="['/admin']">
          <div class="icon-w">
            <div class="os-icon os-icon-users">
            </div>
          </div>
          <span>Admin Users</span>
        </a>
      </li>
      <li class=" has-sub-menu" [ngClass]="{ 'active':currentRoute('user') }">
        <a [routerLink]="['/user']">
          <div class="icon-w">
            <div class="os-icon os-icon-user"></div>
          </div>
          <span>Mobile Users</span>
        </a>
      </li>
      <li class=" has-sub-menu" [ngClass]="{ 'active':currentRoute('customer') }">
        <a [routerLink]="['/customer']">
          <div class="icon-w">
            <div class="os-icon os-icon-user"></div>
          </div>
          <span>FMCG Users</span>
        </a>
      </li>
      <li class=" has-sub-menu" [ngClass]="{ 'active':currentRoute('supplier') }">
        <a [routerLink]="['/supplier']">
          <div class="icon-w">
            <div class="os-icon os-icon-users">
            </div>
          </div>
          <span>Suppliers</span>
        </a>
      </li>
      <li class=" has-sub-menu " [ngClass]="{ 'active':currentRoute('product') }">
        <a [routerLink]="['/product']">
          <div class="icon-w">
            <div class="os-icon os-icon-database"></div>
          </div>
          <span>Products</span>
        </a>
      </li>
      <li class=" has-sub-menu " [ngClass]="{ 'active':currentRoute('category') }">
        <a [routerLink]="['/category']">
          <div class="icon-w">
            <div class="fa fa-list-alt"></div>
          </div>
          <span>Categories</span>
        </a>
      </li>
      <li class=" has-sub-menu " [ngClass]="{ 'active':currentRoute('brand') }">
        <a [routerLink]="['/brand']">
          <div class="icon-w">
            <div class="fa fa-first-order"></div>
          </div>
          <span>Brands</span>
        </a>
      </li>
      <li class=" has-sub-menu " [ngClass]="{ 'active':currentRoute('orders') }">
        <a [routerLink]="['/orders']">
          <div class="icon-w">
            <div class="fa fa-shopping-cart "></div>
          </div>
          <span>Open Orders</span>
        </a>
      </li>
      <li class=" has-sub-menu " [ngClass]="{ 'active':currentRoute('deals') }">
        <a [routerLink]="['/deals']">
          <div class="icon-w">
            <div class="fa fa-percent"></div>
          </div>
          <span>Deals</span>
        </a>
      </li>
      <!-- Default dropup button -->
      <!-- <li class=" has-sub-menu " [ngClass]="{ 'active':currentRoute('reports') }">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Reports
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a [routerLink]="['/reports/','order_reports']">
              <li class=" has-sub-menu " [ngClass]="{ 'subMenu':currentSubRoute('reports/order_reports')}">Order Reports
              </li>
            </a>
            <a [routerLink]="['/reports/','sales_reports']">
              <li class=" has-sub-menu " [ngClass]="{ 'subMenu':currentSubRoute('reports/sales_reports')}">Sales Reports
              </li>
            </a>
            <a [routerLink]="['/reports/','stock_reports']">
              <li class=" has-sub-menu " [ngClass]="{ 'active':currentSubRoute('reports/stock_reports')}">Low Stock
                Items
              </li>
            </a>
          </ul>

        </div>
      </li> -->
      <!-- for report start -->
      <li class=" has-sub-menu dropdown" [ngClass]="{ 'active':currentRoute('reports') }">
        <a>
          <div class="icon-w">
            <div class="fa fa-file"></div>
          </div>
          <span class="dropbtn">Reports</span>
        </a>
        <ng-container class="dropdown">
          <ul class="dropdown-content1">
            <a [routerLink]="['/reports/','order_reports']">
              <li class=" has-sub-menu " [ngClass]="{ 'subMenu':currentSubRoute('reports/order_reports')}">Order Reports
              </li>
            </a>
            <a [routerLink]="['/reports/','sales_reports']">
              <li class=" has-sub-menu " [ngClass]="{ 'subMenu':currentSubRoute('reports/sales_reports')}">Sales Reports
              </li>
            </a>
            <a [routerLink]="['/reports/','stock_reports']">
              <li class=" has-sub-menu " [ngClass]="{ 'active':currentSubRoute('reports/stock_reports')}">Low Stock
                Items
              </li>
            </a>
          </ul>
        </ng-container>
      </li>
      <!-- for report  end-->
      <!-- <li class=" has-sub-menu " [ngClass]="{ 'active':currentRoute('reports') }">
        <a [routerLink]="['/reports/']">
          <div class="icon-w">
            <div class="fa fa-file"></div>
          </div>
          <span>Reports</span>
        </a>
      </li> -->
      <li *ngIf='isSuperAdmin' class=" has-sub-menu" [ngClass]="{ 'active':currentRoute('settings') }">
        <a [routerLink]="['/settings']">
          <div class="icon-w">
            <div class="os-icon os-icon-ui-46"></div>
          </div>
          <span>Settings</span>
        </a>
      </li>
    </ul>
  </div>


</div>
<div
  class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
  <div class="logo-w">
    <a class="logo" (click)="sidemenuhide()">
      <img src="../../../../assets/images/logo.png">
    </a>
  </div>

  <ul class="main-menu">
  <!-- <ul [ngClass]="{ 'main-menu':true, 'hidemenu': sideHide }"> -->
    <li class=" has-sub-menu" [ngClass]="{ 'active':currentRoute('dashboard') }">
      <a [routerLink]="['/dashboard']">
        <div class="icon-w">
          <div class="fa fa-tachometer"></div>
        </div>
        <span>Dashboard</span>
      </a>
    </li>
    <li *ngIf='isSuperAdmin' class="has-sub-menu" [ngClass]="{ 'active':currentRoute('admin') }">
      <a [routerLink]="['/admin']">
        <div class="icon-w">
          <div class="os-icon os-icon-users">
          </div>
        </div>
        <span>Admin Users</span>
      </a>
    </li>
    <li class=" has-sub-menu" [ngClass]="{ 'active':currentRoute('user') }">
      <a [routerLink]="['/user']">
        <div class="icon-w">
          <div class="os-icon os-icon-user"></div>
        </div>
        <span>Mobile Users</span>
      </a>
    </li>
    <li class=" has-sub-menu" [ngClass]="{ 'active':currentRoute('customer') }">
      <a [routerLink]="['/customer']">
        <div class="icon-w">
          <div class="os-icon os-icon-user"></div>
        </div>
        <span>FMCG Users</span>
      </a>
    </li>
    <li class=" has-sub-menu" [ngClass]="{ 'active':currentRoute('supplier') }">
      <a [routerLink]="['/supplier']">
        <div class="icon-w">
          <div class="os-icon os-icon-users">
          </div>
        </div>
        <span>Suppliers</span>
      </a>
    </li>
    <li class=" has-sub-menu " [ngClass]="{ 'active':currentRoute('product') }">
      <a [routerLink]="['/product']">
        <div class="icon-w">
          <div class="os-icon os-icon-database"></div>
        </div>
        <span>Products</span>
      </a>
    </li>
    <li class=" has-sub-menu " [ngClass]="{ 'active':currentRoute('category') }">
      <a [routerLink]="['/category']">
        <div class="icon-w">
          <div class="fa fa-list-alt"></div>
        </div>
        <span>Categories</span>
      </a>
    </li>
    <li class=" has-sub-menu " [ngClass]="{ 'active':currentRoute('brand') }">
      <a [routerLink]="['/brand']">
        <div class="icon-w">
          <div class="fa fa-first-order"></div>
        </div>
        <span>Brands</span>
      </a>
    </li>
    <li class=" has-sub-menu " [ngClass]="{ 'active':currentRoute('orders') }">
      <a [routerLink]="['/orders']">
        <div class="icon-w">
          <div class="fa fa-shopping-cart "></div>
        </div>
        <span>Open Orders</span>
      </a>
    </li>
    <li class=" has-sub-menu " [ngClass]="{ 'active':currentRoute('deals') }">
      <a [routerLink]="['/deals']">
        <div class="icon-w">
          <div class="fa fa-percent"></div>
        </div>
        <span>Deals</span>
      </a>
    </li>
    <!-- for report start -->
    <li class=" has-sub-menu dropdown" [ngClass]="{ 'active':currentRoute('reports') }">
      <a>
        <div class="icon-w">
          <div class="fa fa-file"></div>
        </div>
        <span class="dropbtn">Reports</span>
      </a>
      <ng-container class="dropdown">
        <ul class="dropdown-content">
          <a [routerLink]="['/reports/','order_reports']">
            <li class=" has-sub-menu " [ngClass]="{ 'subMenu':currentSubRoute('reports/order_reports')}">Order Reports
            </li>
          </a>
          <a [routerLink]="['/reports/','sales_reports']">
            <li class=" has-sub-menu " [ngClass]="{ 'subMenu':currentSubRoute('reports/sales_reports')}">Sales Reports
            </li>
          </a>
          <a [routerLink]="['/reports/','stock_reports']">
            <li class=" has-sub-menu " [ngClass]="{ 'active':currentSubRoute('reports/stock_reports')}">Low Stock Items
            </li>
          </a>
        </ul>
      </ng-container>
    </li>
    <!-- for report  end-->
    <li *ngIf='isSuperAdmin' class=" has-sub-menu" [ngClass]="{ 'active':currentRoute('settings') }">
      <a [routerLink]="['/settings']">
        <div class="icon-w">
          <div class="os-icon os-icon-ui-46"></div>
        </div>
        <span>Settings</span>
      </a>
    </li>
    <!-- <li class="has-sub-menu" [ngClass]="{ 'active':currentRoute('logout') }">
      <a (click)="logout()">
        <div class="icon-w">
          <div class='image_menu' ></div>
        </div>
        <span>Logout</span>
      </a>
    </li> -->
  </ul>
  <!-- <div id="logout" class="logged-user-w avatar-inline">
    <div class="logged-user-i" (click)="logout()">
      <div class="logged-user-info-w">
        Logout
      </div>
    </div>
  </div> -->
  <!-- <div id="logout" class="logged-user-w avatar-inline">
    <div class="logged-user-i" (click)="logout()">
      <div class="icon-w">
        <img src="../../../../assets/images/logout_red.png">
      </div>
      <div class="logged-user-info-w">
        Logout
      </div>
    </div>
  </div> -->
</div>