.alter-btn{
    background-color: red;
    color: white;
    border-color: white;
}
.text {
    color: #0008ff
  }
  .invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #e65252;
  }