<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mt-5">
      <!-- <h2 class="text-center text-dark mb-4">We Care Support</h2> -->
      <div class="row">
        <div class="col-md-6 mx-auto">
          <span class="anchor" id="formLogin"></span>
          <!-- form card login -->
          <div class="card border border-info">
            <div class="card-header bg-info text-white">
              <h3 class="mb-0">
                <img style="width:185px;height:45px;" src="../../../../assets/images/logo.png">
              </h3>
            </div>
            <div class="card-body">
              <form class="form" role="form" autocomplete="off" id="formLogin" [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" type="text" class="form-control form-control-lg rounded-0" required=""
                    placeholder="test@example.com" formControlName="email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                  <div *ngIf="submitted && f.email.errors" class='invalid-feedback'>
                    <div *ngIf="f.email.errors?.required">Email is Required</div>
                    <div [hidden]="!f.email.errors?.pattern">Email is Invalid</div>
                  </div>
                </div>
                <button type="submit" class=" btn  alter-btn btn-lg ">
                  Send </button>
                <div class="row mb-2 mt-4">
                  <small class="col text-center">
                    Go to
                    <a routerLink='/auth/login' class="text">Login</a> page
                  </small>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>