.import {
  cursor: pointer;
}

.scrollmenu {
  background-color: #f6f6f6;
  // overflow: auto;
  white-space: nowrap;
}

#searchicon {
  position: relative;
  bottom: 29px;
}

.left {
  margin-left: -12px !important;
}

.center {
  text-align: center;
}

// .full-block{
//     display: inline-grid;
// }

// .scrollmenu a {
//     display: inline-block;
//     color: white;
//     text-align: center;
//     padding: 28px;
//     text-decoration: none;
// }

// .scrollmenu a:hover {
//     background-color: #777;
// }

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  border-width: 1px 1px 0 1px;
  margin: 0 5px 0 0;
}

nav li a {
  padding: 0 10px;
}

.active a {
  background-color: cornflowerblue;
  border-radius: 5px;
}

.admin-nav ul {
  font-size: 0.9rem;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 0;
}

.admin-nav ul li {
  margin-bottom: 0px;
  margin-right: 1rem;
}

.admin-nav ul li a {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  margin-right: 1rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.admin-nav ul li a:after {
  content: "";
  width: 0%;
  height: 0;
  background-color: #ed2124;
  position: absolute;
  bottom: -2px;
  left: 48%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.admin-nav ul li.active a:after {
  height: 3px;
  bottom: -2px;
  border-radius: 2px;
}

.admin-nav ul li.active a:after,
.admin-nav ul li:hover a:after {
  width: 100%;
}

.admin-nav ul li.active a {
  color: #495057;
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 transparent;
  position: relative;
}
.inline {
  display: inline;
}

@media (min-width: 200px) and (max-width: 560px) {
  .mainTab {
    height: 43px;
  }
}

.scrollable {
  // width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.countDiv {
  padding: 20px;
  height: 100%;
  border: 1px solid red;
  text-align: center;
  border-color: #d1d8e6;
  text-align: left;
}
//  .countDiv:hover {
//   -ms-transform: scale(1.5); /* IE 9 */
//   -webkit-transform: scale(1.5); /* Safari 3-8 */
//   transform: scale(1.5);
// }
.countP:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  // color: red;
  margin-left: 23%;
}
.cartImage {
  width: 20%;
  margin-right: 5%;
}
.chart {
  margin: 1% 0% 0% 1%;
  // display: flex;
  // justify-content: left;
  // width: 400px;
  // height: 200px;
}
.chartCanvas {
  margin: 0% 0% 0% 1%;
  // display: flex;
  // justify-content: center;
  // width: 300px;
  // height: 300px;
}
