<ng2-toasty [position]="'top-right'"></ng2-toasty>
<!-- <div>Hello bro <div id="chartdiv" style="width: 100%; height: 500px"></div></div> -->
<div class="content-i">
 
  <div class="content-box">
    <div class="c-header row" style="display: block;">Summary
      <div class="search-cont">
        <span>
         
        </span>
      </div>
    </div>

    <div class="row" style="margin-bottom: 14px;">
      <div class="col-sm-3">
        <div *ngIf="chart" class=" ">
          <canvas #canvas id="canvas" width="130%" height="80px" class="chartCanvas">{{ chart }}</canvas> 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="countDiv" style="background-color: #3fa5f4; color:white;border-radius: 6%;">
          <img class="cartImage" src="../../../../assets/images/total.png"> Total Orders
          <br>
          <p class="countP" style="font-size:30px;">{{totalOrders}}</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="countDiv" style="background-color: #2ec689; color:white;border-radius: 6%;">
          <img class="cartImage" src="../../../../assets/images/pending.png"> Pending Orders
          <br>
          <p class="countP" style="font-size:30px;">{{pendingOrders}}</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="countDiv" style="background-color: #f8a004; color:white;border-radius: 6%;">
          <img class="cartImage" src="../../../../assets/images/delivered.png"> Delivered Orders
          <br>
          <p class="countP" style="font-size:30px;">{{deliveredOrder}}</p>
        </div>
      </div>
    </div>
    <div class="controls-above-table">
      <nav class="admin-nav">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="mainTab" [ngClass]="{ 'active':flag == 'completed' }">
            <a (click)="showpendigUsers()">Completed Orders</a>
          </li>
          <li role="presentation" class="mainTab" [ngClass]="{ 'active':flag == 'pending'}">
            <a (click)="showactiveUsers()">Pending Orders</a>
          </li>
          <li role="presentation" class="mainTab" [ngClass]="{ 'active':flag == 'registered' }">
            <a (click)="showInactiveUsers()">Registered Customers</a>
          </li>

        </ul>
      </nav>
    </div>
    <div class="full-block" style="overflow: auto;">
      <div class="head">
        <div class="search-cont" style="margin-top: -1px;float:left;">
        </div>
      </div>
      <br>
      <div class="scrollmenu table-responsive">
        <table class="table table-bordered  table-v2 table-striped">
          <thead>
            <tr>
              <th class='center' style="width: 1%;">#</th>
              <th style="width: 1%;">
                {{flag == 'registered' ? 'Customer Name' : 'Order Number'}}
              </th>
              <th style="width: 1%;">
                {{flag == 'registered' ? 'Email Id' : 'Customer Name'}}
              </th>
              <th style="width: 1%;">
                {{flag == 'registered' ? 'Mobile No.' : 'Email Id'}}
              </th>
              <th style="width: 1%;">
                {{flag == 'registered' ? 'Landline No.' : 'Mobile No.'}}
              </th>
              <th style="width: 1%;">
                {{flag == 'registered' ? 'City' : 'Ordered Date'}}
              </th>
              <th style="width: 1%;" *ngIf="flag == 'registered'">
                Country Name
              </th>
              <th style="width: 1%;">
                {{flag == 'registered' ? 'Permanent Address' : 'Total Amount in AED'}}
              </th>
              <th style="width: 1%;">
                {{flag == 'registered' ? 'Shipping Address' : 'Total Amount in USD'}}
              </th>
              <th style="width: 1%;" *ngIf="flag == 'registered'">
                Company Name
              </th>
              <th style="width: 1%;">
                Status
              </th>
            </tr>
          </thead>
          <tbody style="font-weight: normal;">
            <ng-container *ngIf="records?.length && !loader">
              <tr *ngFor="let record of records;index as i">
                <td class='center' style='max-width:20px!important;'>
                  {{i+1}}
                </td>
                <td *ngIf="flag == 'registered'">
                  {{record?.first_name}} {{record?.last_name}}
                </td>
                <td *ngIf="flag != 'registered'">
                  #{{record?.order_number}}
                </td>
                <td *ngIf="flag != 'registered'">
                  {{record?.user_id?.first_name}} {{record?.user_id?.last_name}}
                </td>
                <td *ngIf="flag != 'registered'">
                  {{record?.user_id?.email}}
                </td>
                <td *ngIf="flag != 'registered'">
                  +{{record?.user_id?.country_code}}-{{record?.user_id?.mobile_number}}
                </td>
                <td *ngIf="flag == 'registered'">
                  {{record?.email}}
                </td>
                <td *ngIf="flag != 'registered'">
                  {{record?.order_date | medium_date}}
                </td>
                <td *ngIf="flag == 'registered'">
                  <a href="" class="not-active">+{{record?.country_code}} - {{record?.mobile_number}}</a>
                </td>
                <td *ngIf="flag == 'registered'">
                  {{ record?.phone_number ? record?.phone_number : '---- ----'}}
                </td>
                <td *ngIf="flag == 'registered'">
                  {{record?.city}}
                </td>
                <td *ngIf="flag == 'registered'">
                  {{countryCode(record?.country_code)}}
                </td>
                <td *ngIf="flag == 'registered'">
                  <div class=scrollable>
                    {{record?.permanent_address}}</div>
                </td>
                <td *ngIf="flag == 'registered'">
                  <div class=scrollable>
                    {{record?.shipping_address}}</div>
                </td>
                <td *ngIf="flag != 'registered'" style="text-align: right;">
                  {{record?.total_amount_aed | currency:'&nbsp;':true:'1.2-2'}}
                </td>
                <td *ngIf="flag != 'registered'" style="text-align: right;">
                  {{record?.total_amount_usd | currency:'&nbsp;':true:'1.2-2'}}
                </td>
                <td *ngIf="flag == 'registered'">
                  {{record?.company_name}}
                </td>
                <td *ngIf="flag == 'registered'" style="text-transform:capitalize">
                  {{record?.status}}
                </td>
                <td *ngIf="flag != 'registered'" style="text-transform:capitalize">
                  {{record?.order_status == 'order_placed' ? 'Order Placed' : record?.order_status}}
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="records?.length && !loader">
              <td colspan="11" class="text-center">
                <button *ngIf="records?.length == 5" class="btn-red btn btn-success" (click)="moreRecords()">View More
                </button>
              </td>
            </tr>
            <tr *ngIf="!records?.length && !loader">
              <td colspan="11" class="text-center">
                <a class="text-primary">
                  <strong>No Order Details</strong>
                </a>
              </td>
            </tr>
            <tr *ngIf="loader">
              <td colspan="7" class="text-center">
                <div class="lds-dual-ring"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>