<!-- <div class="has-sub-menu">
 <div class="row">
   <div class="col-md-7"></div>
   <div class="col-md-3">
     <div class="logo-w">
       <a class="logo" [routerLink]="['/dashboard']">
         <span style='color: #959799'>Welcome</span> {{loggedInname}} {{loggedInlast_name}}
       </a>
     </div>
   </div>
   <div class="col-md-2">
     <a (click)="logout()">
       <div class="icon-w">
         <div class='image_menu'></div>
       </div>
       <span>Logout</span>
     </a>
   </div>
 </div>
</div> -->
<div class='user-detail'>
  <span style='margin-right: 35px;'><span style='color: #959799'>Welcome</span> <span style='color: #ed2124'>{{loggedInname}} {{loggedInlast_name}}</span></span>
  <button class="btn btn-success right" style="margin-right: 14px;" (click)="logout()"><img src="../../../../assets/images/logout_white.png"> Logout</button>
</div>

<!-- <nav class="navbar navbar-fixed-top">
    <div class="custom-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      
        
            </a>
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">
              <img src="../../../../assets/images/logout.png" alt="user-image">{{loggedInname}} {{loggedInlast_name}}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:void(0);" (click)="logout()">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
   </nav> -->