:host {
  display: block;
  box-shadow: 0 0 2px #aaa;
}

#inner {
  width: 350px;
  height: 250px;
  overflow: auto;
}
.user-detail{
  float: right;
  margin-right: 10px;
  margin-top: 22px;
}

.right{
  margin-right: 35px;
}