<div class="container-fluid main">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../assets/image/forgotpassword.png" id="icon" alt="User Icon" style="
      height: 120px;
      width: 128px;
      margin-top: 14px;" />
      </div>

      <!-- Login Form -->
      <div id="emailform">
        <form [formGroup]='loginForm' (ngSubmit)="emailVerify('0')">
          <div class="form-group"
            [ngClass]="{'text-danger': loginForm.get('email_id').errors && (loginForm.get('email_id').touched || loginForm.get('email_id').dirty)}">
            <input type="email" formControlName="email_id" id="login1" class="fadeIn second form-control"
              name="email_id" placeholder="email">
            <span class="help-block"
              *ngIf="loginForm.get('email_id').errors && (loginForm.get('email_id').touched || loginForm.get('email_id').dirty)">
              <span *ngIf="loginForm.get('email_id').errors.required"><br><small>email id is required!!</small></span>
              <span
                *ngIf="loginForm.get('email_id').errors.pattern && (loginForm.get('email_id').touched || loginForm.get('email_id').dirty)"><br><small>Please
                  enter
                  valid email id</small></span>
            </span>
          </div>
          <input type="submit" id="emailSubmit" class="fadeIn fourth" value="Verify">
        </form>
      </div>
      <!-- for otp and Passowrd -->
      <div id="passwordForm" class="passwordForm">
        <form [formGroup]='setPass' (ngSubmit)="setPassword('0')">
          <div class="form-group"
            [ngClass]="{'text-danger': setPass.get('otp').errors && (setPass.get('otp').touched || setPass.get('otp').dirty)}">
            <input type="number" formControlName="otp" id="login2" class="fadeIn second form-control" name="otp"
              placeholder="enter otp">
            <span class="help-block"
              *ngIf="setPass.get('otp').errors && (setPass.get('otp').touched || setPass.get('otp').dirty)">
              <span *ngIf="setPass.get('otp').errors.required"><br><small>email id is required!!</small></span>
              <span
                *ngIf="setPass.get('otp').errors.pattern && (setPass.get('otp').touched || setPass.get('otp').dirty)"><br><small>Please
                  enter
                  valid OTP no</small></span>
            </span>
          </div>
          <input type="submit" class="fadeIn fourth" value="verify">
        </form>
      </div>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Login</a>
      </div>

    </div>
  </div>
</div>