/* You can add global styles to this file, and also import other style files */
a {
  text-decoration: none;  
}
.heading {
text-align: center;
margin-top: 2%;
}
.scrum {
color: red;
}
.loginForm { 
  display: flex;
  justify-content: center; 
  margin:3% 0% 0% 0%; 
}
.receiverForm {
  border: 0px gray solid; 
padding: 0%;  
margin: 0%;
box-shadow: 2% 2% 2%; 
}
.loginForm {
border: 0px gray solid; 
padding: 0%;  
margin: 0%;
box-shadow: 2% 2% 2%; 
}
.registration {
  text-align: left;
}
.list {
  text-align: right
}
#collapsibleNavbar {
  display: flex;
  justify-content:flex-end;
}
button {
  margin-right: 10px;
}
.agodate {
  float: right;
}
.card1 {
  margin: 2%;
  opacity: 0.7;
  filter: alpha(opacity=50);
  
}
.card1:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.carddiv {
  width: 100%;
  justify-content: center;
}
.card-img-top {
  width: 50%;
  justify-content: center;
  margin:1% 0% 1% 20%;
}
textarea {
  width: 90%;
  height: 90px;
}
.profile {
  height: 70px;
  border-radius: 70%;
}
.feedbackdiv {
  display: flex;
  justify-content: center;
}
#toast-container {
  position: fixed;
  z-index: 9999;
  z-index: 999999;
}
.loading{
  color: white;
  padding-top: 50px;
}
.empty {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  margin:1%;
  text-align: center;
  color: gray;
  position: fixed;
}
#toast-container {
  position: fixed;
  z-index: 9999;
  z-index: 999999;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}