<div class="container-fluid dashmain">
  <!-- add navbar -->
  <app-header></app-header>
  <span class="container-fluid empty font-weight-light" id="empty"></span>
  <!-- for feedback list -->
  <div class="container-fluid row feedbackdiv">
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
      <p class="loading">Loading...</p>
    </ngx-spinner>
    <!-- <ngx-spinner></ngx-spinner> -->
    <div class="row">
      <div class="card-columns">
        <div class="card1 shadow-lg p-3 mb-5 rounded dashboardDiv" *ngFor="let Feedback of feedback"
          [style.background]="backColor()">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> <label>Feedback</label> <small class="card-subtitle mb-2 text-muted agodate">2
                  month
                  ago</small> </h5>
              <p class="card-text">{{Feedback.feedback}}</p>
              <div *ngIf="true">
                <!-- <iframe style="min-">{{Feedback.feedback}}</iframe> -->
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted agodate">Given by: <b>{{ name | name }}</b><br>Posted
                Date:<b>{{Feedback.created_at | date:'dd MMM yyyy'}}</b></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>