<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="content-i">
  <div class="content-box">
    <div class='c-header' style="width:100%">Mobile Users List
      <input type="text" [(ngModel)]="search" #searchinput class="form-control" placeholder="Search"
        (keyup)="searchUser()" style="border-radius: 30px !important;width: 250px;float:right;">
    </div>

    <div class="controls-above-table">
      <nav class="admin-nav">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" [ngClass]="{ 'active':active }">
            <a (click)="showactiveUsers()">Active Users</a>
          </li>
          <li role="presentation" [ngClass]="{ 'active':!active }">
            <a (click)="showInactiveUsers()">InActive Users</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="full-block">
      <div class="head">
        <div class="search-cont" style="margin-top: -1px;float:left;">
        </div>
        <!-- <div style="float:right;">
          <span style="float: right;" placement="top" tooltip="Reset" class="fa fa-refresh" (click)="reload()"></span>
        </div> -->
      </div>
      <br>
      <div class="scrollmenu table-responsive">
        <table class="table table-bordered  table-v2 table-striped">
          <thead>
            <tr>
              <th class='center' style="width: 5%;">#</th>
              <th style="width: 20%;">First Name</th>
              <th style="width: 20%;">Last Name</th>
              <th style="width: 30%;">Email</th>
              <th style="width: 15%;">Phone Number</th>
              <th class='action' style="width: 5%;">Action</th>
              <th style="width: 5%;">Status</th>
              <!-- <th *ngIf="active">Action</th> -->
            </tr>
          </thead>
          <tbody style="font-weight: normal;">
            <ng-container *ngIf="records?.length && !loader">
              <tr *ngFor="let record of records;index as i">
                <td class='center'style='max-width:20px!important;'>
                  {{i+1}}
                </td>
                <td>
                  {{record?.first_name}}
                </td>
                <td>
                  {{record?.last_name}}
                </td>
                <td>
                  {{record?.email}}
                </td>
                <td>
                  <a href="" class="not-active">+{{record?.country_code}} - {{record?.phone_number}}</a>
                </td>
                <td class='center'>
                  <a (click)="DeleteRecord(delete,i,record._id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </td>
                <td class='center'>
                  <!-- <button *ngIf="record?.status==='active'" class="btn-approve btn btn-sm btn-approve" (click)="changestatus('in_active',record._id)">Deactivate</button>
                  <button *ngIf="record?.status==='in_active'" class="btn-decline btn btn-sm btn-decline"(click)="changestatus('active',record._id)">Activate</button> -->
                  <input type="checkbox" [ngModel]='record?.status==="active"' (change)='changeStatus(changeuserstatus,record,i)' />
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="this.remainingRecords>0 && !loader">
              <td colspan="12" class="text-center">
                <button class="btn-red btn btn-success" (click)="loadMore()">Load More ({{remainingRecords}})
                </button>
              </td>
            </tr>
            <tr *ngIf="!records?.length && !loader">
              <td colspan="7" class="text-center">
                <a class="text-primary">
                  <strong>No {{active?'Active':'Inactive'}} Mobile User</strong>
                </a>
              </td>
            </tr>
            <tr *ngIf="loader">
              <td colspan="7" class="text-center">
                <div class="lds-dual-ring"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <pagination [totalItems]="count" [(ngModel)]="currentpage" (pageChanged)="pageChanged($event)"></pagination> -->

    <ng-template #delete>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirmToDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modalRef3.hide()">No</button>
      </div>
    </ng-template>

    <ng-template #changeuserstatus>
      <div class="modal-body text-center">
        <p>Are you sure you want the status of the user to {{status}}?</p>
        <button type="button" class="btn btn-default" (click)="confirmToChange()">Yes</button>
        <button type="button" class="btn btn-primary-red" (click)="declineToChange()">No</button>
      </div>
    </ng-template>

    <div class="div ">
      <div *ngIf="openAddUser">
        <app-add-user [childMessage]="parentmessage " (messageEvent)="receiveMessage($event) "></app-add-user>
      </div>
    </div>
  </div>
</div>
