<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="content-i">
  <div class="content-box">
    <br>
    <div class="full-block">
      <div class="head">
        <div class="search-cont inline" style="margin-top: -1px;float:left;">
          <div class="c-header ">Supplier's List</div>
        </div>

        <div style='float:right;'>
          <img class='logo-size' src="../../../../assets/images/pdf download.svg" (click)="generatePDF()">
          <img class='logo-size' src="../../../../assets/images/excel_download.svg" (click)="generateExcel()">
          <button class="btn btn-danger" (click)="DeleteRecords(deleteMulti)" *ngIf='this.selectedIds.length>0'>
            Delete
            ({{this.selectedIds.length}})</button>
          <button class="btn btn-primary-red" type="submit" (click)="openSupplier()">Add Supplier</button>
        </div>
        <div style='float:right;'>
          <input type="text" [(ngModel)]="searchName" #searchinput class="form-control inline"
            placeholder="Search on Supplier Name,Supplier Code,Brand Name" (keyup)="searchSupplier()"
            style="border-radius: 30px !important;width: 365px;margin-right: 22px;">
        </div>
        <!-- <div class="search-cont" style="margin-top: -1px;float:left;">
          <input type="text" [(ngModel)]="searchCode" #searchinput class="form-control" placeholder="Search Code"
            (keyup)="searchSupplier()" style="border-radius: 30px !important;"><br>
        </div>
        <div class="search-cont" style="margin-top: -1px;float:left;">
          <input type="text" [(ngModel)]="searchProduct" #searchinput class="form-control" placeholder="Search Product"
            (keyup)="searchSupplier()" style="border-radius: 30px !important;"><br>
        </div> -->
        <!-- <div style="float:right;">
          <span style="float: right;" placement="top" tooltip="Reload" class="fa fa-refresh" (click)="reload()"></span>
        </div> -->
      </div>
      <br>
      <div class="scrollmenu table-responsive">
        <table class="table table-bordered  table-v2 table-striped">
          <thead>
            <tr>
              <th><input type="checkbox" name="vehicle1" value="Bike" [ngModel]='isSelectAll'
                  (change)="selectAllRecord()">
              </th>
              <th>Name</th>
              <th>Code</th>
              <th>Email</th>
              <th style="width: 168px;">Phone Number</th>
              <th>Address</th>
              <th class='action'  style="width: 80px;">Action</th>
            </tr>
          </thead>
          <tbody style="font-weight: normal;">
            <ng-container *ngIf="records?.length && !loader">
              <tr *ngFor="let record of records;index as i">
                <td class='center'><input type="checkbox" [ngModel]='record?.isSelect' (change)='selectRecord(i)' />
                </td>
                <td>
                  {{record?.name}}
                </td>
                <td>
                  {{record?.supplier_code}}
                </td>
                <td>
                  {{record?.email_id}}
                </td>
                <td>
                  <a href="" class="not-active">+{{record?.country_code}} - {{record?.phone_number}}</a>
                </td>
                <td>
                  {{record?.address}}
                </td>
                <td style='width: 72px !important;'>
                  <a [routerLink]="['/supplier/',record._id]">
                    <i class="fa fa-eye black" aria-hidden="true"></i>
                  </a>
                  <a (click)="openEditSupplier(record,false)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                  <a (click)="DeleteRecord(delete,i,record._id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="this.remainingRecords>0 && !loader">
              <td colspan="12" class="text-center">
                <button class="btn-red btn btn-success" (click)="loadMore()">Load More ({{remainingRecords}})
                </button>
              </td>
            </tr>
            <tr *ngIf="!records?.length && !loader">
              <td colspan="12" class="text-center">
                <a class="text-primary">
                  <strong>No Supplier</strong>
                </a>
              </td>
            </tr>
            <tr *ngIf="loader">
              <td colspan="12" class="text-center">
                <div class="lds-dual-ring"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <pagination [totalItems]="count" [itemsPerPage]="limit" [(ngModel)]="page" (pageChanged)="pageChanged($event)">
    </pagination> -->

    <ng-template #delete>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirmToDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modalRef3.hide()">No</button>
      </div>
    </ng-template>

    <ng-template #deleteMulti>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirmToMultiDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modalRef4.hide()">No</button>
      </div>
    </ng-template>

    <div class="div ">
      <div *ngIf="openAddSupplier">
        <app-manage-supplier [childMessage]="parentmessage " (messageEvent)="receiveMessage($event) ">
        </app-manage-supplier>
      </div>
    </div>
  </div>
</div>
