<div class="container-fluid">
  <div class="container-fluid navbardiv">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <img class="navbar-brand profile" src="{{profileImage}}" alt="logo" style="width:50px;">

    <h3 class="navbar-brand">{{userName}}</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav list">
        <li class="nav-item">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="addfeedback()">{{button}}</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-danger my-2 my-sm-0" data-toggle="modal"
            data-target="#logoutmodal">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</div>
  <!--Logout Modal -->
  <div class="modal fade" id="logoutmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modalbody border border-danger">
        <div class="modal-body">
          Are you sure you want to logout?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary logoutmodal" (click)="logout()" data-dismiss="modal"> Ok
          </button>
          <button type="button" class="btn btn-secondary logoutmodal" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>