<div class="container-fluid main">
  <div class="wrapper fadeInDown">
    <div id="formContent">

      <div class="fadeIn first">
        <img src="../../assets/image/Writing.gif" id="icon" alt="User Icon" style="
      height: 120px;
      width: 128px;
      margin-top: 14px;" />
      </div>

      <form [formGroup]='registrationForm' (ngSubmit)="onSubmit()">
        <div class="form-group"
          [ngClass]="{'text-danger': registrationForm.get('email_id').errors && (registrationForm.get('email_id').touched || registrationForm.get('email_id').dirty)}">
          <input type="email" formControlName="email_id" id="login" class="fadeIn second form-control" name="email_id"
            placeholder="email id">
          <span class="help-block"
            *ngIf="registrationForm.get('email_id').errors && (registrationForm.get('email_id').touched || registrationForm.get('email_id').dirty)">
            <span *ngIf="registrationForm.get('email_id').errors.required"><br> <small> email_id is required!!</small></span>
            <span
              *ngIf="registrationForm.get('email_id').errors.pattern && (registrationForm.get('email_id').touched || registrationForm.get('email_id').dirty)"><br><small>Please
              insert valid email id </small> </span>
          </span>
        </div>
        <div class="form-group"
          [ngClass]="{'text-danger': registrationForm.get('name').errors && (registrationForm.get('name').touched || registrationForm.get('name').dirty)}">
          <input type="text" formControlName="name" id="login" class="fadeIn second form-control" name="name"
            placeholder="name">
          <span class="help-block"
            *ngIf="registrationForm.get('name').errors && (registrationForm.get('name').touched || registrationForm.get('name').dirty)">
            <span *ngIf="registrationForm.get('name').errors.required"><br> <small> name is required!!</small></span>
            <span
              *ngIf="registrationForm.get('name').errors.pattern && (registrationForm.get('name').touched || registrationForm.get('name').dirty)"><br> <small> Name
              is not correct</small></span>
          </span>
        </div>
        <div class="form-group"
          [ngClass]="{'text-danger': registrationForm.get('profile_photo').errors && (registrationForm.get('profile_photo').touched || registrationForm.get('profile_photo').dirty)}">
          <input type="file" formControlName="profile_photo" (change)=fileUpload($event.target.files) id="login"
            class="fadeIn second form-control" name="profilephoto" style="height: 58px;">
          <span class="help-block"
            *ngIf="registrationForm.get('profile_photo').errors && (registrationForm.get('profile_photo').touched || registrationForm.get('profile_photo').dirty)">
            <span *ngIf="registrationForm.get('profile_photo').errors.required"><br>Profile photo is required!!</span>
            <span *ngIf="registrationForm.get('profile_photo').errors.pattern"><br>not correct</span>
          </span>
        </div>
        <input type="submit" class="fadeIn fourth" value="Register">
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink='/login'>Login</a>
      </div>
    </div>
  </div>
</div>