<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="content-i">
  <div class="content-box">
    <br>
    <div class=c-header>SMTP Configuration Settings</div>
    <form class='form-inline' [formGroup]="settingsform" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-6">

          <div class="col-sm-12">
            <div class="form-group">
              <label for="">Email<span class='required'>*</span></label>
              <input class="form-control" type="text" name="email" formControlName="email" placeholder="Email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors}" required>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is Required</div>
                <div [hidden]="!f.email.errors?.pattern">Email is Invalid</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="">Password<span class='required'>*</span></label>
              <input class="form-control" type="password" name="password" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors}" placeholder="Password" required>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is Required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="">Server<span class='required'>*</span></label>
              <input class="form-control" type="text" name="Host"
                [ngClass]="{ 'is-invalid': submitted && f.host.errors}" formControlName="host" placeholder="Server"
                required>
              <div *ngIf="submitted && f.host.errors" class="invalid-feedback">
                <div *ngIf="f.host.errors.required">Server is Required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="">Port Number</label>
              <input class="form-control" type="number" name="port" formControlName="port" placeholder="Port">
            </div>
          </div>
          <div class="col-sm-12">
            <br>
            <button class="btn btn-success btn-cons business-publish-btn" type="submit">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="vl"></div>
  <!-- otp form -->
  <div class="content-box">
    <br>
    <div class=c-header>Set OTP Duration</div>
    <form class='form-inline' [formGroup]='otpForm' (ngSubmit)="otpSave()">
      <div class="row">
        <div class="col-sm-6">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="">OTP Duration (in minutes)</label>
              <input class="form-control" type="number" name="otp" formControlName="otp_duration"
                placeholder="OTP (in minutes)" pattern="^((?!(0))[0-9]{1,2})$"
                [ngClass]="{ 'is-invalid': save && g.otp_duration.errors}" required>
              <div *ngIf="save && g.otp_duration.errors" class="invalid-feedback">
                <div *ngIf="g.otp_duration.errors.required">OTP is Required</div>
                <div [hidden]="!g.otp_duration.errors?.pattern">OTP is Invalid(must have between 0-99)</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <br>
            <button class="btn btn-success btn-cons business-publish-btn" type="submit">Save OTP</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>