

input:focus, 
textarea:focus {
    outline: none;
}

label, 
select, 
button, 
input[type="submit"], 
input[type="radio"], 
input[type="checkbox"] 
input[type="button"] {
    cursor: pointer;
}

span {
  font-weight:200;
}

input {
  width:100%;
  background:#f5f5f5;
  border:0;
  padding:20px;
  border-radius:6px;
  margin-bottom:10px;
  border:1px solid #eee;
}
.invalid-feedback{
  margin-top: -7px;
}
.content-i {
  display: flex
}
// .content-box{
//   border: 1px solid gray;
// }
.vl {
  border-left: 1px solid gray;
  height: 500px;
}

@media (min-width: 200px) and (max-width:810) {
  .vl1 {
    display: none;
  }
  .content-i {
    display: table-row-group !important;
  }
  }