<ng-template #template>
  <div class="modal-content">
    <div class="modal-header">
      <h4 *ngIf="!editProduct" class="modal-title pull-left left">Add Product</h4>
      <h4 *ngIf="editProduct && !viewOnly" class="modal-title pull-left left">Edit Product</h4>
      <h4 *ngIf="editProduct && viewOnly" class="modal-title pull-left left">Product</h4>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModel()">
        <span aria-hidden="true"> ×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="myform" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Supplier Name<span class='required'>*</span> </label>
              <select class="form-control" [(ngModel)]="selectSupplierId" formControlName="supplier_id"
                (change)="onItemChange($event.target.value)" required>
                <option [value]="s" disabled='true'>Select Supplier</option>
                <option *ngFor="let supplier of supplierList" [value]="supplier._id">{{supplier.name}}
                </option>
              </select>
            </div>
          </div>
          <!-- (onSelect)="onItemSelect($event)"(onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"(onDeSelectAll)="onDeSelectAll($event)" -->
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Category<span class='required'>*</span> </label>
              <select class="form-control" [(ngModel)]="selectCategoryId" formControlName="category_id"
                (change)="onItemChange1($event.target.value, i)" required>
                <option [value]="c" disabled='true'>Select Category</option>
                <option *ngFor="let category of categoryList,index as i" [value]="category._id">
                  {{category.category_name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Stock Location <span class='required'>*</span> </label>
              <select class="form-control" [(ngModel)]="selectLocationId" formControlName="stock_location"
                (change)="onItemChange2($event.target.value)" required>
                <option [value]="l" disabled='true'>Select Location</option>
                <option *ngFor="let location of locationList" [value]="location.country_name">{{location.country_name}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Brand Name<span class='required'>*</span> </label>
              <select class="form-control" [(ngModel)]="selectBrandId" formControlName="brand_id"
                (change)="onItemChange3($event.target.value)" required>
                <option [value]="b" disabled='true'>Select Brand</option>
                <option *ngFor="let brand of brandList, index as i" [value]="brand.brand_id">{{brand.brand_name}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Description</label>
              <input class="form-control" type="text" name="description" formControlName="description"
                placeholder="Description">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Type</label>
              <input class="form-control" type="text" name="product_type" formControlName="product_type"
                placeholder="Product Type">
            </div>
          </div>
          <div class="col-sm-4"><label for=""> Expiry Date</label>
            <div class="form-group input-group">

              <!-- <input type="date" name="bday"> -->
              <input type="text" placeholder="dd/mm/yyyy" name="dob" class="form-control" [minDate]="minDate"
                bsDatepicker formControlName="expiry_date" [bsConfig]="bsConfig" #dp="bsDatepicker"
                [(ngModel)]="expirydate" readonly>
              <!-- <input type="date" placeholder="dd\mm\yyyy"  [(ngModel)]="expirydate" name="dob" class="form-control"
                formControlName="expiry_date"> -->
              <div [ngClass]="{'disInput': viewOnly, 'input-group-append': true}">
                <button [ngClass]="{ 'forX': viewOnly}" (click)="forclear()" class="btn btn-light clearbtn"
                  type="button">X</button>
              </div>

            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="">RU per case</label>
              <input class="form-control" type="number" name="ru_per_case" formControlName="ru_per_case"
                placeholder="RU per case">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">EAN Code RU</label>
              <input class="form-control" type="number" name="ean_code_ru" formControlName="ean_code_ru"
                placeholder="EAN Code RU">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">EAN Code Case</label>
              <input class="form-control" type="number" name="ean_code_case" formControlName="ean_code_case"
                placeholder="EAN Code Case">

            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Language</label>
              <input class="form-control" type="text" name="language" formControlName="language" placeholder="Language"
                (keypress)="keypressOnlyAlpha($event)">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Origin</label>
              <input class="form-control" type="text" name="origin" formControlName="origin" placeholder="Origin"
                (keypress)="keypressOnlyAlpha($event)">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Quantity</label>
              <input class="form-control" type="number" name="quantity" formControlName="quantity"
                placeholder="Quantity" pattern="^[0-9]*[1-9][0-9]*$">
              <div *ngIf="f.quantity.errors" class="invalid-feedback">
                <div [hidden]="!f.quantity.errors?.pattern">Should be > 0 </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Sales Per Case AED</label>
              <input class="form-control" type="number" min="1" name="sales_per_case_aed"
                formControlName="sales_per_case_aed" placeholder="Sales Per Case AED"
                (keyup)='AEDtoUSD($event.target.value)' pattern="^(?=.*[1-9])\d*(?:\.\d{1,2})?$"
                onkeydown="return event.keyCode !== 69">
              <div *ngIf="f.sales_per_case_aed.errors" class="invalid-feedback">
                <div *ngIf="f.sales_per_case_aed.errors.notValid">Not a valid value</div>
                <div [hidden]="!f.sales_per_case_aed.errors?.pattern">Should be > 0 & can't have more than 2 decimal places</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Sales Per Case USD</label>
              <input class="form-control" type="number" name="sales_per_case_usd" formControlName="sales_per_case_usd"
                placeholder="Sales Per Case USD" disabled>

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Cost Price Per Case</label>
              <input class="form-control" type="number" name="cost_price_per_case" formControlName="cost_price_per_case"
                placeholder="Cost Price Per Case">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Size</label>
              <input class="form-control" type="text" name="size" formControlName="size" placeholder="Size">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">FMCG Availability</label>
              <br>
              <input type="radio" name="fmcg_availability" [value]="false" id="option1" id="no"
                formControlName="fmcg_availability" checked> No
              <input type="radio" name="fmcg_availability" [value]="true" id="option2"
                formControlName="fmcg_availability"> Yes
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div *ngIf='!viewOnly' class="fileContainer sprite">
                <!-- <span>Choose Image 1</span> -->
                <!-- <input type="file" name="product_front_image" id="product_front_image"
                  (change)="process($event,'product_front_image')" accept="image/x-png,image/gif,image/jpeg" /> -->
                <a (click)="compressFile('product_front_image')" class="btn fileContainer sprite choose-file">Choose
                  Image 1</a>
              </div>
              <div *ngIf='viewOnly' class="fileContainer sprite">
                <a class="btn fileContainer sprite choose-file">
                  Image 1</a>
              </div>
              <button aria-label="Close" *ngIf="product_front_image && !viewOnly" class="close" data-dismiss="modal"
                type="button" (click)='imageDelete("image1")'>
                <span aria-hidden="true"> ×</span>
              </button>
              <div class="logoContainer">
                <img class="uploadImage" onerror="this.src='../../../../assets/images/Noimage.jpeg';"
                  alt="Product Image 1" src={{product_front_image}} (click)='imagePreview(product_front_image)' />
              </div>
            </div>
            <span *ngIf="errorImageSize1" class="image-error">Plesae Upload Image size lesser than 1 MB</span>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div *ngIf='!viewOnly' class="fileContainer sprite">
                <!-- <span>Choose Image 2</span> -->
                <!-- <input type="file" class="form-control" name="product_back_image" id="product_back_image"
                  (change)="process($event,'product_back_image')" accept="image/x-png,image/gif,image/jpeg"> -->
                <a (click)="compressFile('product_back_image')" class="btn fileContainer sprite choose-file">Choose
                  Image 2</a>

                <div *ngIf="errorImageSize2">Plesae Upload Image size lesser than 1 MB</div>
              </div>
              <div *ngIf='viewOnly' class="fileContainer sprite">
                <a class="btn fileContainer sprite choose-file">
                  Image 2</a>
              </div>
              <button aria-label="Close" *ngIf="product_back_image && !viewOnly" class="close" data-dismiss="modal"
                type="button" (click)='imageDelete("image2")'>
                <span aria-hidden="true"> ×</span>
              </button>
              <div class="logoContainer">
                <img class="uploadImage" onerror="this.src='../../../../assets/images/Noimage.jpeg';"
                  alt="Product Image 2" src={{product_back_image}} (click)='imagePreview(product_back_image)' />
              </div>

            </div>
            <span *ngIf="errorImageSize2" class="image-error">Plesae Upload Image size lesser than 1 MB</span>
          </div>
        </div>
        <div *ngIf='!viewOnly' class="form-buttons-w" style="text-align: right;padding-right: 20px;">
          <button class="btn btn-success" [disabled]="!myform.valid">
            {{editProduct?'Update':'Submit'}}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="openImagePreview">
    <app-image-preview [childMessage]="imageData" (messageEvent)="closeImagePreview() ">
    </app-image-preview>
  </div>

  <!-- for add brand name  -->
</ng-template>
<ng-template #delete>
  <div class="modal-content forBrandModal">
    <div class="modal-header">
      <h4 class="modal-title pull-left left">Add New Brand</h4>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModel1()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>This category is not associated with any brand, are you want to add brand with it ?</p>
      <button type="button" class="btn btn-default" (click)="forBrandPage()">Yes</button>
      <button type="button" class="btn btn-primary" (click)="modalRef3.hide()">No</button>
    </div>
  </div>
</ng-template>