<ng-template #template>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left left">Image Preview</h4>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModel()">
        <span aria-hidden="true"> ×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <img style="width:100%;" src={{imageData}} onerror="this.src='../../../../assets/images/Noimage.jpeg';">
      </div>
    </div>
  </div>
</ng-template>