<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="content-i">
  <div class="content-box">
    <br>
    <div class="c-header row" style="display: block;margin-right: 0;">Products List
      <div class="search-cont">
        <input type="text" [(ngModel)]="search" #searchinput class="form-control" placeholder="Search Products"
          (keyup)="searchProduct()">
        <span>

          <button class="btn btn-danger" (click)="DeleteRecords(deleteMulti)" *ngIf='this.selectedIds.length>0'>
            Delete
            ({{this.selectedIds.length}})</button>
          <img class='logo-size' src="../../../../assets/images/excel_mail_1.svg" (click)="sendEmailExcel(sendMail)">
          <img class='logo-size' src="../../../../assets/images/excel_download.svg" (click)="generateExcel()">
          <img class='logo-size' src="../../../../assets/images/pdf mail.svg" (click)="sendEmailPDF(sendMail)">
          <img class='logo-size' src="../../../../assets/images/pdf download.svg" (click)="generatePDF()">
          <button class="btn btn-primary-red" type="submit" style="margin-right: 0;" (click)="openProduct()">Add
            Product</button>
        </span>


        <!-- <span class="fa fa-search" id="searchicon" aria-hidden="true"></span> -->
      </div>
    </div>
    <div class="full-block">

      <div class="head" style="display: inline-block;width: 100%;">
        <div class='row' style='margin-left: -8px;margin-right: 0;'>
          <div class='col-6'>
            <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
              (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
            </angular2-multiselect><br>
          </div>
          <div class='col-6' style="padding-right: 0;">
            <angular2-multiselect [data]="dropdownSupplierList" [(ngModel)]="selectedItems1"
              [settings]="dropdownSettings1" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
              (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
            </angular2-multiselect><br>
          </div>
          <div class='col-3'>
          </div>
          <div class='col-9'>
          </div>
        </div>
      </div>
      <div class="scrollmenu tableDiv table-responsive">
        <table class="table table-bordered  table-v2 table-striped overflow-auto">
          <thead>
            <tr>
              <th *ngIf="records?.length && !loader"><input type="checkbox" name="vehicle1" value="Bike"
                  [ngModel]='isSelectAll' (change)="selectAllRecord()">
              </th>
              <th style="width: 15%;">code</th>
              <th style="width: 15%;">Brand Name</th>
              <th style="width: 15%;">Supplier Name</th>
              <th style="width: 30%;">Description</th>
              <th>Product Type</th>
              <th>Category</th>
              <th style="width: 12%;">FMCG Availability</th>
              <th style="width: 15%;">Stock Location</th>
              <th style="width: 13%;">Expiry Date</th>
              <th style="width: 13%;">Ru per case</th>
              <th class='action' *ngIf="records?.length && !loader" style="width: 80px;">Action</th>
            </tr>
          </thead>
          <tbody style="font-weight: normal;">
            <ng-container *ngIf="records?.length && !loader">
              <tr *ngFor="let record of records;index as i">
                <td class='center'><input type="checkbox" [ngModel]='record?.isSelect' (change)='selectRecord(i)' />
                </td>
                <td>
                  {{record?.product_code}}
                </td>
                <td>
                  {{record?.brands[0]?.brand_name}}
                </td>
                <td>
                  {{record?.suppliers[0]?.name}}
                </td>
                <td>
                  <div class=scrollable>
                    {{record?.description }}</div>
                </td>
                <td>
                  {{record?.product_type}}
                </td>
                <td>
                  {{record?.categorys[0]?.category_name}}
                </td>
                <td>
                  {{record?.fmcg_availability==true? 'Yes' : 'No'}}
                </td>
                <td>
                  {{record?.stock_location}}
                </td>
                <td>
                  {{record?.expiry_date ? (record?.expiry_date | medium_date) : 'NA'}}
                </td>
                <td>{{record?.ru_per_case}}</td>
                <td style="padding: 10px !important;">
                  <a (click)="openEditProduct(record,true)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
                  <a (click)="openEditProduct(record,false)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                  <a (click)="DeleteRecord(delete,i,record._id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="!records?.length && !loader">
              <td colspan="15" class="text-center">
                <a class="text-primary">
                  <strong>No Product</strong>
                </a>
              </td>
            </tr>
            <tr *ngIf="this.remainingRecords>0 && !loader">
              <td colspan="15" class="text-center">
                <button class="btn-red btn btn-success" (click)="loadMore()">Load More ({{remainingRecords}})
                </button>
              </td>
            </tr>
            <tr *ngIf="loader">
              <td colspan="15" class="text-center">
                <div class="lds-dual-ring"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- <pagination [totalItems]="count" [(ngModel)]="currentpage" (pageChanged)="pageChanged($event)"></pagination> -->


    <ng-template #delete>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirmToDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modalRef3.hide()">No</button>
      </div>
    </ng-template>

    <ng-template #sendMail>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">File Share</h4>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="modalRef5.hide()">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="emailForm" (ngSubmit)="confirmToSendMail()">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="">Email</label>
                  <input class="form-control" [(ngModel)]='sendEMailId' type="text" name="email" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors}" placeholder="Email"
                    [ngModelOptions]="{standalone: true}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>

                  <!-- <input class="form-control" type="text" name="email"  placeholder="Email" "
                    > -->
                  <!-- {{submitted}}-{{f.email.errors.required}}-{{f.email.errors.pattern}} -->
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is Required</div>
                    <div [hidden]="!f.email.errors?.pattern">Email is Invalid</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-success" type='submit'>
                  Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-template>

    <ng-template #deleteMulti>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirmToMultiDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modalRef4.hide()">No</button>
      </div>
    </ng-template>

    <div class="div ">
      <div *ngIf="openAddProduct">
        <app-manage-product [childMessage]="parentmessage " (messageEvent)="receiveMessage($event) ">
        </app-manage-product>
      </div>
    </div>
    <div class="div ">
      <div *ngIf="openBrandWiseProduct">
        <app-brand-wise-product [childMessage]="" (messageEvent)="closeBrandWiseProduct($event) ">
        </app-brand-wise-product>
      </div>
    </div>
  </div>
</div>