.center{
  text-align: center;
}
.btn-green {
  color: #fff;
  background-color: #069627;
  border-color: #069627;
}
.btn-red{
  background-color: red;
  border-color: red;
}
.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e65252;
}
.selected-list .c-btn {
  width: 102%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  position: relative;
}
.tableDiv {
  overflow: auto;
  width: 100%;
}
.scrollable {
   // width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    overflow: auto;
}
