<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="content-i">
  <div class="content-box">
    <div class="full-block">
      <div class="head">
        <div class='row' style="margin-right: 0;">
          <div class='col-sm-4'><span class=c-header>Admin Users</span>
          </div>
          <div class='col-sm-8' style="text-align: right;margin-right: 0;padding-right: 0;">
            <input type="text" [(ngModel)]="search" #searchinput class="form-control inline" placeholder="Search"
              (keyup)="searchUser()" style="border-radius: 30px !important; width: 258px">
            <button class="btn btn-primary-red" style="margin-right: 0;" (click)="openModal(admin,'null','Add')">Add
              admin user</button>
          </div>
          <div class='col-sm-3'>

          </div>
        </div>
        <div class="search-cont" style="margin-top: -1px;">
          <br>
        </div>
        <div style="float:right; margin-top: 6px;">
        </div>
      </div>
      <div class="scrollmenu table-responsive">
        <table class="table table-bordered  table-v2 table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th style="width: 168px;">Phone Number</th>
              <th class='action' style="width: 80px;">Action</th>
              <th>Status</th>
              <!-- <th *ngIf="active"></th> -->
            </tr>
          </thead>
          <tbody style="font-weight: normal;">
            <ng-container *ngIf="records?.length && !loader">
              <tr *ngFor="let record of records;index as i">
                <td class='center'>
                  {{i+1}}
                </td>
                <td>
                  {{record?.first_name}}
                </td>
                <td>
                  {{record?.last_name}}
                </td>
                <td>
                  {{record?.email}}
                </td>
                <td>
                  <a href="" class="not-active">+{{record?.country_code}} - {{record?.phone_number}}</a>
                </td>
                <td class='center' style='width: 72px !important;'>
                  <a (click)="openModal(admin,i,'Edit')">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                  <a (click)="DeleteRecord(delete,i,record._id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </td>
                <td class='center' style='width: 60px !important;'>

                  <input type="checkbox" [ngModel]='record?.status==="active"'
                    (change)='changeStatus(changeuserstatus,record)' />
                </td>
                <!-- <td *ngIf="active">

                </td> -->
              </tr>
            </ng-container>
            <tr *ngIf="!records?.length && !loader">
              <td colspan="12" class="text-center">
                <a class="text-primary">
                  <strong>NO ADMINS</strong>
                </a>
              </td>
            </tr>
            <tr *ngIf="loader">
              <td colspan="12" class="text-center">
                <div class="lds-dual-ring"></div>
              </td>
            </tr>
            <tr *ngIf="this.remainingRecords>0 && !loader">
              <td colspan="12" class="text-center">
                <button class="btn-red btn btn-success" (click)="loadMore()">Load More ({{remainingRecords}})
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <pagination [totalItems]="count" [itemsPerPage]="limit" [(ngModel)]="page" (pageChanged)="pageChanged($event)">
    </pagination> -->

  </div>
</div>


<ng-template #admin>
  <div class="modal-header">
    <div class="col-md-10">
      <h4 id="admin" class="modal-title pull-left">{{editAdmin}} Admin User</h4>
    </div>
    <button id="close-wrap" type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="adminform" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="">First Name <span class='required'>*</span></label>
            <input class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors}"
              name="first_name" formControlName="first_name" placeholder="First Name" required>
            <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
              <div *ngIf="f.first_name.errors.required">First Name is Required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="">Last Name <span class='required'>*</span></label>
            <input class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors}"
              name="last_name" formControlName="last_name" placeholder="Last Name" required>
            <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
              <div *ngIf="f.last_name.errors.required">Last Name is Required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="">Email <span class='required'>*</span></label>
            <input class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.email.errors}"
              autocomplete="off" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email"
              placeholder="Email" required>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is Required</div>
              <div [hidden]="!f.email.errors?.pattern">Email is Invalid</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="">Country Code <span class='required'>*</span></label><br>
            <input class="form-control" type="number" (keypress)="isNumberKey($event)"
              [ngClass]="{ 'is-invalid': submitted && f.country_code.errors}" name="country_code"
              onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" formControlName="country_code"
              placeholder="CC" required>
            <div *ngIf="submitted && f.country_code.errors" class="invalid-feedback">
              <div *ngIf="f.country_code.errors.required">Country Code is Required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <label for="">Phone <span class='required'>*</span></label>
            <input class="form-control" type="number" [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors}"
              onKeyDown="if(this.value.length==13 && event.keyCode!=8) return false;" name="phone_number"
              formControlName="phone_number" placeholder="Phone Number" required>
            <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
              <div *ngIf="f.phone_number.errors.required">Phone Number is Required</div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer"> -->
      <div class="form-buttons-w" style="text-align: right;padding-right: 20px;">
        <button class="btn btn-success btn-cons business-publish-btn" type="submit">
          {{editAdmin==='Edit'?'Update':'Submit'}}</button>
      </div>
      <!-- </div> -->
    </form>
  </div>

</ng-template>

<ng-template #delete>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete?</p>
    <button type="button" class="btn btn-default" (click)="confirmToDelete()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef3.hide()">No</button>
  </div>
</ng-template>

<ng-template #changeuserstatus>
  <div class="modal-body text-center">
    <p>Are you sure you want the status of the user to {{status}}?</p>
    <button type="button" class="btn btn-default" (click)="confirmToChange()">Yes</button>
    <button type="button" class="btn btn-primary-red" (click)="declineToChange()">No</button>
  </div>
</ng-template>