// .c-header{
//     margin-bottom: 11px;
//       font-size: 25px;
//       color: #ed2124;
//   }
.center {
  text-align: center;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: white;
}
.modal-header {
    background-color: #ed2124;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.inline{
  display: inline;
}