/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    height: 100%;
    width:100% ;
}
a {
    text-decoration: none;  
}
.heading {
text-align: center;
margin-top: 2%;
}
.scrum {
color: red;
}
.loginForm { 
    display: flex;
    justify-content: center; 
    margin:3% 0% 0% 0%; 
}
.receiverForm {
    border: 0px gray solid; 
padding: 0%;  
margin: 0%;
box-shadow: 2% 2% 2%; 
}
.loginForm {
border: 0px gray solid; 
padding: 0%;  
margin: 0%;
box-shadow: 2% 2% 2%; 
}
.registration {
    text-align: left;
}
.list {
    text-align: right
}
#collapsibleNavbar {
    display: flex;
    justify-content:flex-end;
}
button {
    margin-right: 10px;
}
.agodate {
    float: right;
}
.card1 {
    margin: 2%;
   
}

.carddiv {
    width: 100%;
    justify-content: center;
}
.card-img-top {
    width: 50%;
    justify-content: center;
    margin:1% 0% 1% 20%;
}
textarea {
    width: 90%;
    height: 90px;
}
.recImg {
    border-radius: 50%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
